[2021-05-25 14:49] pateljoel opened #11 "[Feature] Deploying openreplay on Heroku"
Is there a possibility for a way on deploying openreplay on Heroku?

Thanks and congrats on releasing openreplay 1.0.0, the self hosted aspect is sorely needed for software like this.

[2021-05-25 16:44] estradino commented on #11
Thanks @pateljoel !
In fact, we're currently working on supporting Heroku (1-click deployment option). That should be available soon in June. You can check out our roadmap [here](https://www.notion.so/openreplay/Roadmap-889d2c3d968b4786ab9b281ab2394a94).

[2021-05-28 17:31] tahayk opened #12 "Alert-metric-value unexpected"
The alert's metric value for `performance.speed_index.average` should be changed to `performance.speed_index.average` (instead of `performance.speed_index`) to match the one expected by the alets-worker and have the same format as the other metrics.

[2021-06-01 15:39] ourvakan opened #14 "Unknown issue types are being ignored"
An IssueEvent with an unknown type will be ignored and not inserted in PostgreSQL. Currently all the issue types are restricted to the ones enlisted in the `issue_type` Enum type:
[code]
This might be not handy e.g. when one creates a new detector (like in heuristics), going to postgres to change the type - sounds like an excessive step. @tahayk, @PandaCodes, I would suggest to change the type of

[2021-06-04 06:43] achempion opened #16 "Unsolicited email advertisements"
Hi,

I'm receiving advertisement emails from your project which asks me to try it. Not sure how I got subscribed to them, as on the first look they seem like a spam.

[2021-06-04 07:02] estradino commented on #16
Hey Boris,
We're reaching out to some folks to get their feedback on the project. I'll make sure to remove you don't receive more emails from our team.
Sorry for the inconvenience.

[2021-06-04 07:02] #16 closed

[2021-06-04 07:39] achempion commented on #16
The emails are html formatted and look like they generated automatically rather than casual email talk.

[2021-06-04 07:54] estradino commented on #16
Yes, we use SendGrid for sending some of the emails so we can keep track of those who wish to unsubscribe. Unfortunately, they [deprecated](https://sendgrid.com/docs/ui/account-and-settings/mail/#plain-content) plain text and force convert it to html so they keep track of deliveries and other metrics.

[2021-06-05 08:25] atbentley opened #17 "Unwanted marketing emails"
Hi folks,

I have received  a marketing email pointing this repository, despite having never agreed to receive them.

I'm not sure if the maintainers of this repository are responsible, however it looks like they are from the USA. While this practice might be acceptable in the USA, in other parts of the world it is considered bad practice to do so (and is often illegal!).

Please reconsider your m

[2021-06-05 08:34] estradino commented on #17
Hey Andrew,
Sorry for the inconvenience. We are looking for feedback from developers. We'll make sure to remove you from the list.
Thanks.

[2021-06-05 08:34] #17 closed

[2021-06-05 14:56] oliver-la opened #18 "Stop sending spam"
"Looking for feedback" is not an excuse to scrape github for addresses and using them to send unsolicited e-mails.

Not only does this make you untrustworthy, it prevents anyone from even considering to use this project in their workflows/environments.

Thanks for coming to my TED talk.

[2021-06-05 15:28] estradino commented on #18
Hey Oliver,
Sorry for the inconvenience. We'll make remove you from the list.
Thanks.

[2021-06-05 15:28] #18 closed

[2021-06-06 21:14] crispart opened #19 "Email SPAM"
This is not the first such request from users. This is an expression of total disrespect for the community. Such promotion methods are not applicable. Please stop it.

[2021-06-06 21:19] estradino commented on #19
Hey Roman,
We're reaching out to some developers to get their feedback on the project. I'll remove you from the list so you don't receive any more emails from our team.
Sorry for the inconvenience.

[2021-06-06 21:19] #19 closed

[2021-06-07 04:27] batman-nair opened #20 "Annoying white borders on deploy button images in README"
The deploy button images have a white border instead of being transparent. This stands out in the README like so,
![image](https://user-images.githubusercontent.com/14367825/120959088-a0a26e00-c776-11eb-9077-fa90038db182.png)

[2021-06-07 11:57] #20 closed

[2021-06-08 05:57] shekarsiri commented on #12
Fixed in 748c8225a9156a467beb7ebe331643904599d7f4

[2021-06-09 15:34] carlosgranada opened #25 "Sessions are being recorded for minutes but nothing is being shown on replay."
We are having multiple sessions with recorded time and events, but the replay option shows no activity at all and it doesn't replay anything or neither display at least one screen. We are working in combo with sentry and we detect errors for those specific sessions, assayer has those errors too but no replay available due "inactivity"
<img width="1600" alt="Screen Shot 2021-06-09 at 11 31 03 AM" s

[2021-06-09 16:57] PandaCodes commented on #25
Hello, Carlos! Do you have any console output during the replay?

[2021-06-09 17:22] PandaCodes commented on #25
Could this error cause an application crash, so the page would be empty for real?

[2021-06-09 18:54] carlosgranada commented on #25
Yup...

- Could not find router reducer in state tree, it must be mounted under "router"

- Error: Minified React error #321; visit https://reactjs.org/docs/error-decoder.html?invariant=321 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.

[2021-06-09 18:55] carlosgranada commented on #25
Yup, this is a Javascript error, totally possible

[2021-06-10 03:09] kowsheek opened #26 "Unable to deploy using `kube-install.sh`"
Super excited to try this! Looks like such great work 🔥

Though the docs say `kube-setup.sh` should be executed, there's no such file. I'm assuming it's `kube-install.sh`? Running that shows the following though I'm connected to the target cluster:

[code]

[code]

[2021-06-10 03:12] kowsheek opened #27 "Deployment & cli commands on MacOS throw an error"
Running deployment script `kube-install.sh` or the cli throws the following error. Removing the `-n` option lets the scripts run but I'm not sure of the side-effects.

[code]

[2021-06-10 04:03] rjshrjndrn commented on #27
Hi @kowsheek, for now we do not support max os. All the scripts are intended to be running on a linux, ubuntu VM(the one in which open replay installed).
Because some of the commands have to interact with the kubernetes api, which is not exposed to the internet,for security reasons.

[2021-06-10 04:07] rjshrjndrn commented on #26
Hi @kowsheek,
Welcome to the community. Sorry to hear that you're facing some issues.

Are you trying to install openreplay in standalone machine, or against an existing kubernetes cluster?

[2021-06-10 11:18] kowsheek commented on #27
👍🏽 Thanks for the response!

[2021-06-10 11:18] #27 closed

[2021-06-10 11:19] kowsheek commented on #26
Hey @rjshrjndrn I was trying at first to deploy against a kubernetes cluster but resorted to deploying against a standalone instance. May be I missed a step somewhere with the kubernetes deployment.

[2021-06-10 11:39] rjshrjndrn commented on #26
oh okay. If you're running the kube-install.sh, then there are few mandatory variables you have to update in the [vars.yaml](https://github.com/openreplay/openreplay/blob/dev/scripts/helm/vars.yaml)

Installing against a Kubernetes is supposed to be a little bit more advanced, without all the auto-update variable magics, which included in the install.sh script.

You can checkout install.sh to see

[2021-06-10 17:16] estradino commented on #26
@kowsheek updated our documentation to reflect that.

[2021-06-11 12:20] estradino commented on #26
Closing the issue for now.

[2021-06-11 12:20] #26 closed

[2021-06-11 12:21] estradino commented on #12
Fixed in v1.1.0.

[2021-06-11 12:21] #12 closed

[2021-06-11 17:15] DKhalil opened #29 "Spam"
Why am I receiving spam from you? Do you think you're going to achieve anything beneficial out of this?

[2021-06-11 17:36] estradino commented on #29
Hey Daniel,
Sorry if you consider this spam. We're looking for feedback on the project. I'll remove you from the list so you don't receive any more emails from our team.
Sorry for the inconvenience.

[2021-06-11 17:36] #29 closed

[2021-06-12 10:09] DanielBadura opened #34 "Please stop these marketing mails without consent"
I received now the second mail pointing to this repo. I cannot remember subscribing in some maillinglist to receive such mails. Please stop these mails since its not an appropriate marketing strategy for this kind of service. Write some blog posts and or talks in meetups to get more views on this project / service.

By the way is this kind of mailing illegal in my country (Germany) due to GDPR. Th

[2021-06-12 10:43] estradino commented on #34
Hey Daniel,
Appreciate your feedback. Indeed, we got the same feedback from other developers from Germany.
Yes we do also have a [blog](https://blog.openreplay.com) and we do our best to produce great frontend content.  🙏

[2021-06-12 10:43] #34 closed

[2021-06-12 13:17] kowsheek opened #35 "Metrics view goes blank when navigating to resources section"
I see this error in the console:
[code]

[2021-06-12 13:19] kowsheek opened #36 "Seeing "Session not found. Please check your data retention plan, or try another one" when trying to view a session"
This log is from chalice after the app was unable to open a session:

[code]

[2021-06-12 14:08] DanielBadura commented on #34
So are you stopping sending these mails without consent or did you just remove me from the list?

[2021-06-14 06:57] marinho-gomes opened #37 "SMTP - !! CANNOT SEND EMAIL, NO VALID SMTP CONFIGURATION FOUND"
After installing OpenReplay in DigitalOcean (following the instructions), the dashboard works perfectly, but just couldn't get it to configure SMTP. Followed the instructions but emails are never sent. Documentation is lacking somewhere for sure. Same error as informed by another user on Slack.

I've change the chalice.yaml to proper configuration just as it's informed in documentation:
[code]

Wi

[2021-06-14 15:45] tahayk opened #38 "Owner should not be able to change his role"
In "Manage Users", no one should be able to change the role of the `owner` account.

[2021-06-14 19:37] tahayk commented on #36
please try this command `cd openreplay/scripts/helm && ./openreplay-cli -i chalice`

[2021-06-14 20:19] kowsheek commented on #36
This was fixed with a reinstall on the latest release. Thanks @tahayk!

[2021-06-14 20:19] #36 closed

[2021-06-15 08:49] shekarsiri commented on #35
fixed in 46fbca2da5127dffd8a89a384fe98ba346660dc8

[2021-06-15 08:49] #35 closed

[2021-06-15 11:05] tahayk commented on #37
please try this command `cd openreplay/scripts/helm && ./openreplay-cli -i chalice`

[2021-06-15 16:06] santicros opened #40 "Please don't send SPAM emails"
Hi,

I understand you want to promote the project to frontend developers, but sending direct marketing emails without consent is not correct (legal) in the UE. Personally, it also makes users not want to try it if you force people this way.

I would recommend sharing it on Discord, Twitter, Dev.to and other places, but not send automated emails to people without their consent.

Thanks and hope you

[2021-06-15 16:12] estradino commented on #40
Sorry Santi for the inconvenience and thanks for your success wishes. We'll remove your email from our list.
Cheers.

[2021-06-15 16:12] #40 closed

[2021-06-15 17:05] tahayk commented on #37
many of our users had the same issue, and it was fixed by running `cd openreplay/scripts/helm && ./openreplay-cli -i chalice`
we have updated our SMTP-documentation to include these steps for future configurations

[2021-06-15 17:05] #37 closed

[2021-06-16 12:15] shekarsiri opened #41 "Frontend crashing on selecting CSS tab inside Network"
[code]

[2021-06-16 13:29] shekarsiri commented on #41
fixed in 54219dc8dfed15b1f5563b3ef32a51bdca8f5b01

[2021-06-16 13:29] #41 closed

[2021-06-18 06:54] Wiejeben commented on #40
Honestly it's pretty disgusting, I don't remember signing up to your project. According to your Github you are located in Paris, you should have known the GDPR rules.

[2021-06-18 07:06] estradino commented on #40
Hey Maarten,
Will remove you from the list. Sorry for the inconvenience.

[2021-06-18 14:08] gustavopch commented on #34
I just found OpenReplay and I found it very interesting (even tweeted about it), but I have to say it scares me to look at the closed issues and see 7 issues complaining about spam. The first thing you need to have a successful SaaS is trust. Sending spam is a backfire.

[2021-06-18 14:22] gustavopch opened #44 "[Feature] React Native implementation"
It would be soooo cool to be able to replay React Native sessions. 🥺

[2021-06-18 14:55] estradino commented on #44
Hey Gustav,
We got the same feature request from many other users. I agree, that'd be awesome! However, we cannot give any ETAs for now as we're not experts in React Native. We'd be more than happy to investigate and prioritize it if someone from the community can help us with this topic. Would you be open to this idea?

[2021-06-18 15:51] gustavopch commented on #44
I don't have any idea how that would be implemented, unfortunately.

[2021-06-18 18:38] estradino commented on #44
Sure, no worries. We'll keep you posted on this feature.

[2021-06-18 20:16] DavidBadura commented on #40
Stop deleting individual emails. Remove the entire list and stop doing it! Since violating GDPR here, i will report the spam. And i know that you know something about GDPR. I read your terms.

[2021-06-18 20:17] DavidBadura opened #45 "Stop deleting individual emails. Remove the entire list and stop sending spam mails!"
Stop deleting individual emails. Remove the entire list and stop doing it! Since violating GDPR here, i will report the spam. And i know that you know something about GDPR. I read your terms.

[2021-06-18 20:45] estradino commented on #45
Sorry for the inconvenience but we already removed the list. Can you tell me when did you receive yours?

[2021-06-18 20:45] #45 closed

[2021-06-21 11:32] MaheshCasiraghi opened #47 "Edge case assets loading bug: all assets prefixed with // are incorrectly treated as relative paths by OpenReplay."
Hello, we are trying out OpenReplay, and I believe we found an edge case bug that prevents sessions from loading assets (fonts,  js, and css), therefore affecting session visualization

Namely, if within the page head, links are presented with a `//` prefix, the browser consider those links absolute, while openreplay considers them relative to main url, e.g.:

`<link rel='stylesheet'  href='//doma

[2021-06-21 14:08] PandaCodes commented on #47
Hello, @MaheshCasiraghi ! Just checked the URL rewriting part, seems to be working correct with double-slash.
What basically happens is that OpenReplay download asset files to the MinIO and rewrites corresponding attributes (`href` for example) so during the replay it looks for files relative to your openreplay domain. Might it be that you meant that when was talking about `domain//`?

If I've got

[2021-06-22 03:53] cain opened #48 "Batch Message decoding error on message with index 8589934637: unexpected EOF"
Our server is now set up. We have implemented the OpenRelay script and now are getting "OpenReplay tracking started." in the console. Im using the script tag implementation not the npm module for now.

We don't see any sessions appearing. There is an error on one the of xhr requests (see screenshots)

<img width="1099" alt="CleanShot 2021-06-21 at 12 12 45@2x" src="https://user-images.githubuserco

[2021-06-22 06:39] MaheshCasiraghi commented on #47
@PandaCodes Yes I confirm that what happens is that all sessions fail assets calls with this sort of notice (404):

<img width="273" alt="Screen Shot 2021-06-22 at 10 33 43 AM" src="https://user-images.githubusercontent.com/645276/122875462-565be800-d345-11eb-9afc-3ff9dd6cf747.png">

Since what those calls seem to be looking for are files at the recording domain, as you point out:

https://my-cust

[2021-06-23 00:04] cain commented on #48
Its set up on a staging environment of our web application. I can provide the URL if that helps :)

[2021-06-23 10:06] klexas opened #50 "Why am I getting Spam about this Repo ?"
Why am I getting spam for this Repo ?

![image](https://user-images.githubusercontent.com/4758681/123078312-bec4cb00-d412-11eb-8aa5-a14adc2a76f5.png)

[2021-06-23 10:07] estradino commented on #50
Hey Adam,
Sorry for the inconvenience. We'll remove you from the list.

[2021-06-23 10:07] #50 closed

[2021-06-23 13:10] PandaCodes commented on #48
Greetings @cain ! I tracked down the issue.
Tracker sends the information in beacons (batches) with the predefined maximum batch size which is currently of 400kB. However, when one data message (e.g. css rule block in case of your app) overflows that value, it was not handled correctly.
The fix will be available in the nearest patch. So stay in touch! :)

[2021-06-23 14:21] PandaCodes commented on #48
@cain You already can use a new 3.0.5 snippet version! Just replace `//static.openreplay.com/3.0.3/openreplay.js` to `//static.openreplay.com/3.0.5/openreplay.js` in your snippet.

[2021-06-23 15:38] PandaCodes commented on #48
Fixed in `@openreplay/tracker@3.0.5` both npm & cdn.

[2021-06-23 15:38] #48 closed

[2021-06-24 02:13] cain commented on #25
@PandaCodes @estradino We also have the same issue.

All network and user events are recording. Just no render of page.

<img width="1680" alt="CleanShot 2021-06-24 at 12 11 07@2x" src="https://user-images.githubusercontent.com/15246256/123192035-7aeec600-d4e5-11eb-9874-aa1768801d78.png">

[2021-06-24 02:26] cain commented on #25
running a vuejs application in dev mode, nothing in console or the inspect mode (empty body and head tags)

<img width="1680" alt="CleanShot 2021-06-24 at 12 25 04@2x" src="https://user-images.githubusercontent.com/15246256/123192949-3c5a0b00-d4e7-11eb-8aa8-fe4ef9438918.png">
<img width="1445" alt="CleanShot 2021-06-24 at 12 24 51@2x" src="https://user-images.githubusercontent.com/15246256/1231929

[2021-06-24 06:18] estradino commented on #25
@cain do you see anything in console?
Also, is your VueJS app using styled components? Perhaps you could share the link to it so we can repro the issue.

[2021-06-24 10:29] menoz15 opened #53 "Conflicting option "-v" in sourcemap-uploader npm package"
When installing the sourcimap-uploader npm module on a clean Ubuntu machine I get the error:

TypeError: argument "-v/--verbose": Conflicting option string(s): -v
![image](https://user-images.githubusercontent.com/15675074/123247958-aa063700-d4e7-11eb-87f2-a15611f3fbe7.png)

Steps to reproduce:
1. Run a clean ubuntu image: _docker run -it --rm ubuntu_
2. Install node & npm: _apt install nodejs npm

[2021-06-24 10:32] estradino commented on #25
@cain Could you please share the code snippet you used to integrate the OpenReplay tracker?

[2021-06-27 23:50] cain commented on #25
@estradino no console errors or network errors (see screenshot has console open)

[code]

[2021-06-27 23:52] cain commented on #25
Happy to email you privately about accessing our dev environment to test @estradino

[2021-06-28 18:46] MaheshCasiraghi opened #64 "Metrics endpoint (/*/metrics) hang"
When using the Open Source version of OpenReplay Postgres seems to run out of memory, in spite of processes never exceeding 10% of machine resources (32gb ram, 640gb ssd, 8 vcpu) when about 10k sessions are open generating a screen where all metrics are presented at 0.

<img width="1131" alt="Screen Shot 2021-06-28 at 10 41 06 PM" src="https://user-images.githubusercontent.com/645276/123687680-428

[2021-06-28 18:53] estradino commented on #64
Not related to load. Updated the issue's title.

[2021-06-29 14:04] PandaCodes opened #65 "Session page of the newly created project is empty"
1. Go to settings
2. Create a new project
3. Go to "sessions" tab
4. change the project in dropdown to the newly created
(all steps without page reload)

Page is empty:
![Screen Shot 2021-06-29 at 16 02 06](https://user-images.githubusercontent.com/7863079/123811282-664e6b80-d8f3-11eb-969d-16a49b8fd597.png)

Something in the routing logic, perhaps.

[2021-06-30 07:58] MaheshCasiraghi opened #69 "Password reset does not work"
<img width="379" alt="Screen Shot 2021-06-30 at 11 57 14 AM" src="https://user-images.githubusercontent.com/645276/123923898-7d946400-d99a-11eb-8dbd-6eff8b157e54.png">

Call to password reset api:

`*/api/password/reset/2`

fails with the following error:

[code]

[2021-06-30 13:22] tahayk commented on #69
Hey @MaheshCasiraghi
this is an issue in the api, it will be solved in the next release,
in the mean time please follow these instructions to manually change a user's password from the DB:

in the machine you are using for openreplay
1- use this command:  `k9s -n db`
2- navigate with the keyboard arrows to the _postgresql-*_ container
3- press `s` ; at this step you should have shell access the th

[2021-07-02 10:26] MaheshCasiraghi commented on #64
Is it possible that db.yaml is the root of this issue? Namely:

[code]

[2021-07-02 10:56] rjshrjndrn commented on #64
if you want to increase the memory usage, Please update https://github.com/openreplay/openreplay/blob/main/scripts/helm/roles/openreplay/templates/postgresql.yaml
for example, for 1G memory and 1core cpu
[code]

[2021-07-02 12:20] MaheshCasiraghi commented on #64
Hello @rjshrjndrn, wouldn't this allocate 1000 / 1000 (i.g., all available cpu: 8cpus) to the Postgres pod?

[2021-07-02 14:43] rjshrjndrn commented on #64
Kubernetes calculate cpu in milli units. 1000m means 1 core.

[2021-07-02 18:04] PandaCodes commented on #53
Fixed in `@openreplay/sourcemap-uploader` v.3.0.4

[2021-07-02 18:04] #53 closed

[2021-07-02 18:42] #69 closed

[2021-07-05 17:09] PandaCodes opened #76 "Broken replay with 'non CSS MIME types are not allowed in strict mode' message in console."
This happens due to the fact that the requested CSS file was not cached correctly. Instead, there is a cached `index.html`, which causes MIME types inconsistency.
The reason of this is behaviour of some (at least one for this particular site) hosting systems, that  require `User-Agent` header to be set, otherwise it returns default html page. - checked with `curl`.

TODO: add `User-Agent` header f

[2021-07-05 20:22] SWW13 opened #77 "Scientific paper about your project"
Hey,

I've just released an paper and I'm very excited about it. It's a paper about your project.

Oh! And it's named _[Get me off Your Fucking Mailing List](https://www.scs.stanford.edu/~dm/home/papers/remove.pdf)_. I'd love to get your feedback on why you scumbags keep sending out spam!

[2021-07-05 20:22] thefinn93 opened #78 "stop sending spam"
Stop sending bulk spam messages to non-consenting github users. It is rude beyond belief. It seems [this is not the first time you've been asked to stop](https://github.com/openreplay/openreplay/issues?q=spam), yet you persist. I noticed at one point you had the audacity to suggest that one of the non-consenting recipients simply "considered" the unsolicited bulk email to be spam, as if there was

[2021-07-05 20:23] #77 closed

[2021-07-05 20:23] #78 closed

[2021-07-05 20:25] SWW13 opened #79 "STOP YOUR FUCKING SPAM!"
Hey,

Not sure if you had the time read my issue #77 and to STOP YOUR FUCKING SPAM! But I've some actionable ideas for you fucking project: STOP SPAMMING PEOPLE YOU SICK SCUMBAGS!

[2021-07-05 20:25] ellenhp commented on #78
Please explain how this is "closed" if you're still sending spam.

[2021-07-05 20:30] thefinn93 commented on #79
See also: #16 #17 #18 #19 #29 #34 #40 #45 #50 #78

[2021-07-05 20:32] #79 closed

[2021-07-05 20:40] SWW13 commented on #78
We can report the owners of this repo, see https://docs.github.com/en/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam#reporting-a-user

[2021-07-05 21:07] thefinn93 commented on #78
thanks, i submitted a report.

[2021-07-05 21:09] estradino commented on #78
@ellenhp @thefinn93 I'll investigate that but just so you know, we stopped sending those emails.

[2021-07-08 07:45] #65 closed

[2021-07-11 08:25] akorwash opened #82 "JWT expired if I hit login API twice"
Hello, can someone help me

If I hit the login API twice
The old jwt expired

Is there any option or how can I overcome this issue

I am host on my own servers AWS

Also after fixing this issue
Can I reinstall app using same command

./install.sh

[2021-07-13 04:45] rjshrjndrn commented on #64
@MaheshCasiraghi Can we close this issue ?

[2021-07-14 15:31] estradino commented on #76
Fixed in v1.2.0.

[2021-07-14 15:31] #76 closed

[2021-07-14 15:31] estradino commented on #64
Fixed in v1.2.0.

[2021-07-14 15:31] #64 closed

[2021-07-14 15:32] estradino commented on #47
Fixed in v1.2.0.

[2021-07-14 15:32] #47 closed

[2021-07-16 12:38] aftabnaveed opened #98 "Openreplay down after changing the config"
While trying to configure the SMTP server and when I executed this command `./openreplay-cli -i chalice` the server is no longer responding and I have no clue what just happend. I also restored the chalice.yml but no luck.  Where can I find technical details of how to start/stop openreplay?

[2021-07-16 12:53] tahayk commented on #98
Hey @aftabnaveed
can you please share with us your `chalice.yaml` file ?

[2021-07-16 13:02] aftabnaveed commented on #98
[code]

[2021-07-16 13:19] aftabnaveed commented on #98
Ok, after restarting the server now it seems to be back, but it still says my email is not configured

![image](https://user-images.githubusercontent.com/58515/125954358-33b3e2b4-fe13-4699-8148-3db3ed9674f8.png)

[2021-07-16 13:20] tahayk commented on #98
can you please join our Slack:
https://slack.openreplay.com/

[2021-07-16 13:45] tahayk commented on #98
@aftabnaveed
I'm not sure what went wrong,
but after editing chalice.yaml; and reinstalling it using `./openreplay-cli -i chalice`; you can do `./openreplay-cli -l chalice` to follow the logs to see if anything pops out
in addition, you are using AWS SES, so you have to change `EMAIL_FROM` to a verified email or domain so you can send emails
otherwise you will get an error similar to this: `Messag

[2021-07-16 18:28] tahayk commented on #98
@aftabnaveed : can you please tell me which version are you using ? and if you got this issue after running the upgrade script or on a fresh installation ?

[2021-07-21 18:40] estradino commented on #98
@aftabnaveed Are you still facing this?

[2021-07-23 03:32] danyflorez opened #102 "RangeError: offset is out of bounds"
Hi,

We're getting a lot of errors when the user uploads a big photo (8 mg). The error is on the following lines.

    string(value) {
        const encoded = textEncoder.encode(value);
        const length = encoded.byteLength;
        this.uint(length);
        this.data.set(encoded, this.offset); --->>> RangeError: offset is out of bounds
        this.offset += length;
    }

This is the asayer

[2021-07-23 03:38] danyflorez commented on #102
More insights...

![image (1)](https://user-images.githubusercontent.com/16990780/126734797-90cf2bb6-5f7c-4a1b-843e-7ac3c566f84f.png)
![image](https://user-images.githubusercontent.com/16990780/126734804-30e4d95c-f306-4ea3-9911-3c5fc805a83f.png)

[2021-07-26 15:05] trmjoa opened #103 "install.sh : database files are incompatible with server"
Hi,

I'm attempting to setup a local install using k3s to test out openreplay.

Currently I'm stuck with the following error which seems to be some outdated configuration?

[code]
I assume the solution here is to either upgrade the default data set or run with version 11. Any advise on how to proceed in order to solve this?

[2021-07-27 12:53] aftabnaveed commented on #98
@estradino from was the issue, now it is fixed.

Thanks for your help.

[2021-07-27 12:53] #98 closed

[2021-07-27 16:51] Ozeitis opened #106 "Only Enable Assistant Feature"
A feature where you can disable session recording but leave assistance enabled. This would be great for testing.

[2021-07-31 11:57] rjshrjndrn commented on #103
Hi, @trmjoa which version of openreplay are you installing?
Are you installing openreplay using `./install.sh` or `./kube-install.sh` ?
Means, are you doing a single node installation or against a Kubernetes server?

[2021-08-01 00:38] paddoq opened #109 "Skip inactivity, is skipping activity."
It appears there are issues with 'skip inactivity', Example here, skip inactivity skips the first part of this session, however if you play it back with skip inactivity unchecked, you will in fact see activity:  https://i.gyazo.com/16f16f605221a7517554d4807f68f7a9.gif
The bot is native, it is not a third party plugin.
Notes from slack:
`Mehdi Osman
Ok, I get it. We'll look into it. It seems like t

[2021-08-01 23:12] cain commented on #25
https://plannthat.com is our web application used, we currently dont have it enabled on production because of this issue but are looking forward to using your product!

[2021-08-03 08:01] estradino commented on #25
@cain can you please join our https://slack.openreplay.com to make it quicker for us to understand the issue?

[2021-08-03 19:29] estradino commented on #103
Hey @trmjoa,
Any update on this?

[2021-08-05 18:19] #38 closed

[2021-08-05 18:19] tahayk commented on #38
fixed in v1.3.0

[2021-08-08 16:53] thedrow opened #136 "Website doesn't include screenshots"
I'd like to show people how this project looks like before they use it.
The website and the documentation currently lack screenshots.

Can you please provide them?

[2021-08-08 19:49] estradino commented on #136
@thedrow Sure. We're working on the website and that should be completed by end of august.

[2021-08-10 08:36] PandaCodes commented on #102
Sorry, missed it while was on vacation.
The issue is that the size of one beacon message sent by tracker is limited.
@danyflorez  you can play with the `beaconSize` option of the tracker, though the maximum is hardcoded on a receiver side 1 Mb (1e6 bytes), while the picture seems to be 8+ Mb.

There are two issues I can see here - one is to take the limitation out to the environmental vars and two

[2021-08-13 09:17] danyy1996 opened #146 "Live feed on Assist loads indefinitely"
#### Issue description

When trying to connect to some live sessions through the Assist feature, the session(s) loads indefinitely. There are no errors shown in the console or in the networks tab.

#### Steps to reproduce the issue

1. Go to Assist tab
2. Try to connect to sessions until you find one that loads indefinitely

#### What's the expected result?

- You connect to the live session

####

[2021-08-13 10:00] danyy1996 opened #147 "Sorting by 'oldest' doesn't show you oldest session."
#### Issue description

When attempting to sort your replays by oldest session, the sessions are sorted in ascending order which is good, however, they do not begin from the oldest session but rather from a random session.

#### Steps to reproduce the issue

1. Visit the sessions
2. Change sorting to 'oldest'

#### What's the expected result?

- The sessions are sorted in ascending order from olde

[2021-08-13 10:19] danyy1996 opened #148 "Styling issue within session display"
#### Issue description

When viewing the clicks, input and navigation metadata of a session, if you filter it the results the container seems to not take up the height of the parent container resulting in the data getting clipped.

#### Steps to reproduce the issue

1.  View a session
2. Display right panel with metadata
3. Filter the metadata

#### What's the expected result?

- The metadata is f

[2021-08-13 10:30] danyy1996 opened #149 "Session metadata not updating when changing session"
#### Issue description

When you filter the metadata within a session and then visit a different session, the old metadata is shown on the new session until you refresh the page.

#### Steps to reproduce the issue

1. Visit a session
2. Filter the metadata
3. Go back to the sessions view
4. Select another session

#### What's the expected result?

- The new session displays its current metadata

#

[2021-08-13 10:38] danyy1996 opened #150 "Viewing a stored session tries to connect as live session"
#### Issue description

Attempting to view a stored session tries to initiate a live session connection and loads indefinitely

#### Steps to reproduce the issue

1.  Attempt to view stored sessions.
2. Find a session of a user that appears both in the 'Assist' tab and the 'All' tab.
3. Attempt to view the stored session in the 'All' tab

#### What's the expected result?

- You view the stored ses

[2021-08-13 10:44] danyy1996 opened #151 "Infinite scrolling and ability to select how many sessions to show"
**The Problem To Be Solved**
When viewing all sessions you have to constantly click 'Load More' to view more sessions. You can only view 10 more sessions at a time which makes it quite difficult to view your last 100+ session for example.

**Suggested Solution**
- Ability to select how many sessions results are shown on the page.
- Infinite scrolling, automatically loading and showing more session

[2021-08-13 10:59] danyy1996 opened #152 "Ability to select logical operators when creating funnels"
**The Problem To Be Solved**

When creating a funnel you are limited to filtering data using 'AND' logical operators.

[code]

I think it would be very powerful if you could funnel your sessions using OR logical operators as well.

[code]

[2021-08-13 11:02] shekarsiri commented on #149
fixed f1fade81a359a09016e28c5983183e24f5b1516d

[2021-08-13 11:02] #149 closed

[2021-08-13 11:20] danyy1996 opened #153 "[Feature] Setting rules and tagging errors"
**The Problem To Be Solved**

The errors tab does a great job of grouping errors together, however, if the error is the same but it appears in a different part of the code those two identical errors are not grouped (This is the expected behaviour). However, if you have an error that occurs many times but you can safely ignore it (such as a Network Error) you will soon have your entire errors page

[2021-08-13 17:22] shekarsiri commented on #148
fixed ddedcf71722d10aae92e61d2864a1daee56e8d3c

[2021-08-13 17:22] #148 closed

[2021-08-16 07:11] nogamenofun98 opened #159 "Redirection / Email url need to include the port number that set in the config"
I got setup the openreplay with custom port config: http for 8080 port and https for 4433 port
although I got changed the value in the nginx folder, values.yaml there, and it indeed is working, but when it send out email or do redirect url (like I set force HTTPS redirection based on the doc guideline, and it redirect to normal 443 port)

Can make it read the port configuration and use in redirect

[2021-08-18 02:27] danyy1996 opened #160 "Unable to remove bookmark"
## Issue description ##

Attempting to remove bookmarked logs doesn't work

## Steps to reproduce the issue ##
1. Bookmark a log
2. Attempt to remove the bookmark
3. Refresh the page

## What's the expected result? ##
 The bookmark should be removed from the list of bookmarks

## What's the actual result? ##

Initially the bookmark is removed, but on page refresh, it reappears again

[2021-08-19 07:58] shekarsiri commented on #160
Fixed in b1dbd977091761eb5ab7f770d0ecb29a64b4e9df

[2021-08-19 07:58] #160 closed

[2021-08-20 21:21] snaptsoft opened #162 "Beacon Size Overflow on Assist"
I am receiving the following error in console on the client side when trying to start an assist session.

`OpenReplay: beacon size overflow`

It then looks like the tracker tries to infinitely reconnect with no success (the follow message repeats infinitely).

[code]

I have attempted to increase the beacon size when starting the tracker, but no luck.

[code]

This is being used on a rather sizeab

[2021-08-22 11:06] digitall-it opened #163 "Feature request: Deploy as a single Docker image"
The Plesk panel integrates support for executing single Docker images (without docker-composer). However, OpenRelay is not available yet in the docker repository. Would you mind compiling a self contained docker image? Thank you!

[2021-08-23 03:18] ro-savage commented on #11
We would love this too.

We've been looking for something like this, as we have privacy concerns around using a third party service.

As a side note @estradino , a company like ours wouldn't want to use the cloud hosting service but would still be happy to pay in some way to support the project (support plan, an enterprise version etc)

[2021-08-24 08:35] AriaShishegaran opened #164 "Implement "Auto Delete Rules" for emptying used storage after a certain amount of time"
Problem:

OpenRerplay can quickly take a lot of space and there is no way to automatically clear past videos/events and one must take
 manual action from the database to clear some storage.

Possible Solution:

Allow users to set a timeframe in which past events are automatically removed so that the system can always be up and running without needing manual intervention.

[2021-08-24 17:36] PandaCodes commented on #162
Hi, @snaptsoft
The beaconSize can be set up to the BEACON_SIZE_LIMIT, which is currently hardcoded to be 1e6 bytes. That is, apparently, not enough in some cases like yours. This limit will be updated to be configurable from the environment variables in the nearest release.

I wonder what cause this overflow. Do you have base64 images in your PWA? Or maybe big peaces of text inside a single elemen

[2021-08-25 12:38] rubinsh opened #166 "tracker-assist fails to build on linux (ubuntu 18.04 using webpack)"
when requiring @openreplay/tracker-assist I get the following error on webpack buid:

[code]

The above error can be resolved by changing https://github.com/openreplay/openreplay/blob/079e3add5e9f1f1542108acc4875884569850dca/tracker/tracker-assist/src/index.ts#L8

to:
[code]
(confirm instead of Confirm)

Update:
after forking the source code - I saw that there are two identical files: Confirm.ts a

[2021-08-25 15:33] snaptsoft commented on #162
There are no base64 images, and actually very few images within the application itself aside from 1 view, which was not used during testing. It is a very data focused application, so there is quite a bit of information displayed and held in state. It is a very complex application, and we have had issues using a similar feature as a part of a live chat tool. However, tools like LogRocket have funct

[2021-08-25 16:02] #166 closed

[2021-08-31 05:39] luchfilip commented on #44
@estradino maybe I could help. Where's a good place to chat?

[2021-08-31 09:28] estradino commented on #44
@luchfilip the place to be is https://slack.openreplay.com :)
Looking forward!

[2021-09-02 08:32] snycloud opened #168 "Unable to find 'db/init_dbs/clickhouse/create"
install failed
Unable to find 'db/init_dbs/clickhouse/create

[2021-09-02 08:43] estradino commented on #168
@snycloud ClickHouse is part of the Enterprise Edition (EE) which requires a licence. What's the command you were running for setting up your instance?

[2021-09-02 09:12] snycloud commented on #168
git clone https://github.com/openreplay/openreplay.git
cd openreplay/scripts/helm && bash install.sh

[2021-09-02 09:18] rjshrjndrn commented on #168
Hmm.. Thats wierd.
Can you Please clone a tag `git clone https://openrepla/openreplay -b v1.3.0'
and then try to install?
I hope your vm has 2 vCPUs, 8 GB of RAM, 50 GB of storage

[2021-09-02 09:22] snycloud commented on #168
vm has 8 vCPUs, 16 GB of RAM, 500 GB of storage

[2021-09-02 09:29] rjshrjndrn commented on #168
Have you joined our community slack? https://slack.openreplay.com/
It'll be easier to debug issues over there.

[2021-09-02 09:41] snycloud commented on #168
https://openrepla/openreplay
it looks not a right url

[2021-09-02 09:46] snycloud commented on #168
I have joined slack, how can I contact you

[2021-09-02 18:35] rjshrjndrn commented on #168
Oh.. Sorry, I've updated the link

Please send a message in #general group, I'll ping you back.

[2021-09-06 06:36] alejandrofloresm opened #169 "How to __DISABLE_SECURE_MODE when importing library from vanilla Javascript"
I'm importing openreplay using the installation code on a simple HTML/Javascript/CSS site. How can I set __DISABLE_SECURE_MODE to true? Any ideas?

[2021-09-12 17:39] hishtadlut opened #171 "Docs are misleading in issue event"
The docs are saying:

Now if you look at the code you see this:

[code]

So the docs are saying parse it before you are sending:

`this.tracker.issue('issue', JSON.stringify({}));`

While it should be:

`this.tracker.issue('issue', {});`

[code]

The big question is why the type is "any" at all?

Link to docs: https://docs.openreplay.com/installation/custom-events

[2021-09-12 19:45] hishtadlut opened #172 "Compile error when using trackerAssist"
I was trying to update OpenReplay so I will have the ability to use the trackerAssist plugin.

After using
[code]

And after running the app I gut this error message on the console:

[code]

main.ts
[code]

replay-session.service.ts
[code]

The project is running:
[code]

[2021-09-13 11:40] hishtadlut opened #173 "Update npm version for assist plugin"
The current version of "tracker-assist" in npm is now "3.1.1".

When I look at the docs it seems like the current version should be "3.3.1"

Maybe related to #172

[2021-09-13 15:17] #173 closed

[2021-09-13 15:58] PandaCodes commented on #172
Hello, @hishtadlut , thank you for reporting this. There is apparently a bug in [peerjs](https://github.com/peers/peerjs) library when it is compiled with the angular compiler.
[Here](https://github.com/peers/peerjs/issues/552)  is the living issue. People there propose a hack to declare `var parcelRequire;` before importing `peerjs` (in our case `tracker-assist`) package.

Please, try it, and if

[2021-09-13 16:26] PandaCodes commented on #171
Good point. Updated the docs.
It is "any" because technically anything can be converted via `JSON.stringify` except the recursive objects (that don't have a specific type signature), functions will be just discarded. But there is apparently a bad handled case of `undefined`, so thank you  for pointing it out.

[2021-09-13 16:30] hishtadlut commented on #172
I can confirm that after adding to index.html:
[code]

The compile error has disappeared

[2021-09-14 19:48] gustavopch commented on #44
FWIW, LogRocket now has RN recording. It doesn't happen in the RN layer though but directly in Android (they don't have iOS yet). Maybe it's possible to take a look at their dist files to get some insights on their approach: https://npm.im/@logrocket/react-native.

[2021-09-16 22:38] nicolashmln opened #174 "Assets on S3"
Hi,

I have Openreplay v1.3.0 installed on Google Cloud Kubernetes. I followed this https://docs.openreplay.com/configuration/recordings-storage to put the recording on S3, everything is working fine. I also would like to have the assets on S3 but despite the previous configuration, nothing is saved on S3. I found the `CACHE_ASSETS` in the `http.yaml` and changed it to `true` (I'm not sure it's wr

[2021-09-16 22:52] nicolashmln opened #175 "Recording stored twice"
Hi,

I have Openreplay v1.3.0 installed on Google Cloud Kubernetes. I followed this https://docs.openreplay.com/configuration/recordings-storage to put the recording on S3, everything is working fine. I have the recording on S3 and the player calls the S3 server directly.
On my my kubernetes I have limited storage and I noticed that I still have all the recording on a persistent storage. Is there

[2021-09-17 08:45] estradino commented on #175
The recordings are kept temporarily on the VM even though they've been successfully copied to S3. However, these "temp" files get cleaned automatically every 72hrs. This default value can be changed using the `FS_CLEAN_HRS` variable in `openreplay/scripts/helm/app/storage.yaml`. Once done, simply reinstall the worker by running `cd openreplay/scripts/helm && ./openreplay-cli -i storage`.

You can

[2021-09-17 08:51] estradino commented on #174
Yes, `CACHE_ASSETS` is to be set to `true`. BTW, this will be the default value starting from the next release onwards (v1.3.5+). Have you reinstalled the `http` worker after enabling cache? This can be done using `cd openreplay/scripts/helm && ./openreplay-cli -i http`.

If done correctly, the new caching strategy will applied to new recordings (old replays would remain the same).

[2021-09-19 23:11] nicolashmln commented on #174
I had done the `./openreplay-cli -i http` indeed.
I've double checked, I exactly did what's told on https://docs.openreplay.com/configuration/recordings-storage (plus the `CACHE_ASSETS` to `true`) and the new replay still have an url like `https://hosted-openreplay.io/openreplay-assets-dev/https%213A%212F%212Fwebsite.io%212Ffonts%212FBitter.woff2.4`
Should I upgrade to a new/dev version?

[2021-09-20 23:58] nicolashmln commented on #175
Works for me thanks

[2021-09-20 23:58] #175 closed

[2021-09-23 08:55] bbkgh opened #183 "[Feature] Adding searchable labels and description to sessions"
Hi. It will be a useful feature to be able to write comments for sessions and add some custom tags/labels to each of them. We should be able to filter sessions by tags.

[2021-09-23 14:31] estradino commented on #183
Notes and comments are planned for this coming quarter (ETA: November).

[2021-09-23 15:31] #171 closed

[2021-09-23 15:32] estradino commented on #162
Fixed. Available in v1.3.5.

[2021-09-23 15:32] #162 closed

[2021-09-23 15:33] #159 closed

[2021-09-23 15:33] estradino commented on #150
Fixed in v1.3.5.

[2021-09-23 15:33] #150 closed

[2021-09-23 15:36] estradino commented on #109
Fixed in v1.3.0.

[2021-09-23 15:36] #109 closed

[2021-09-23 15:38] estradino commented on #174
This must be an oversight in `chalice.yaml`. Could you please join [our Slack](https://slack.openreplay.com) so we can help you debug this?

[2021-09-24 09:10] nogamenofun98 opened #185 "Openreplay Assist npm library attached extra port on the url in wss (version: 3.1.1)"
After updated openreplay assist npm package to 3.1.1, the assist will attach another port on top of the url defined in the tracker ingestPoint, i got custom port 4433 and it attach another 443 port on top of that, refer to photo below:
![image](https://user-images.githubusercontent.com/9070825/134649546-8db59abb-5135-4162-b3b0-80c5d0df2ac3.png)

Previously mentioned in openreplay slack issue chann

[2021-09-27 13:02] estradino commented on #185
Fixed in v1.3.5.

[2021-09-27 13:02] #185 closed

[2021-09-27 13:11] estradino commented on #162
@snaptsoft
`BEACON_SIZE_LIMIT` can be now set in `openreplay/scripts/helm/app/http.yaml`.  It's expressed in bytes.
Once defined, you'd have to reinstall the http worker using `cd openreplay/scripts/helm && ./openreplay-cli -i http`.

[2021-09-28 08:49] nicolashmln commented on #174
Needed some configuration tweaks, which should be on the documentation now.

[2021-09-28 08:49] #174 closed

[2021-09-30 19:22] estradino commented on #136
@thedrow we just made changes to the website to include the main features the product provides. Would love to get your feedback!

[2021-09-30 19:22] #136 closed

[2021-10-03 05:55] thedrow commented on #136
Looks better.
Thanks!

[2021-10-05 21:47] tomexx commented on #163
+1

[2021-10-07 06:31] nicolashmln opened #194 "Compatibility with NewRelic agent"
Hi,

It seems when [NewRelic](https://docs.newrelic.com/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent/) is installed on a website, the data are not sent to openreplay.
We have the first call to `/ingest/v1/web/start` but the endpoint `/ingest/v1/web/i` is never called, it seems that NewRelic, with their wrapper, blocks the webworker.

Do you have an idea why?

Thank

[2021-10-07 06:33] estradino commented on #194
Hum... interesting. We've to dig that in.

[2021-10-07 13:17] hishtadlut opened #195 "[Feature Request] Add default values to tracer fields."
Every time that I want to know what is the default value of some field in the project I most check the docs.

There is a way to add default values to "d.ts"

[code]

There is a way to contribute to the declaration files or they are auto-generated?

[2021-10-07 17:16] pitops opened #196 "Cyprus is not Turkey - Request to update the flag"
Hi all,

Today I have started evaluating your product for use in our company. In doing so, I noticed that in the session listings for Cyprus (country) the flag displayed is that of Turkey.

![Screenshot 2021-10-07 at 8 13 35 PM](https://user-images.githubusercontent.com/9624361/136432367-ea2fe180-b5fd-4f6e-b2fb-41f3785d8213.png)

Half of the island is being occupied by turks and turk-cypriots who

[2021-10-08 13:24] estradino commented on #196
Hey @pitops,
Sorry if that offended you. We're simply using [this library](https://github.com/SlavkoPekaric/Country-Flags-Responsive-CSS-Sprite) to render those flags, and unfortunately, it's outdated. We're soon moving to [flag-icon-css](https://github.com/lipis/flag-icon-css) which should solve the issue.
Other than that, we hope you're happy with the tool :)

[2021-10-12 02:25] nicolashmln commented on #194
At the end it was a CSP problem. My bad

[2021-10-12 02:25] #194 closed

[2021-10-13 23:38] Gregordy opened #198 "Index row size X exceeds btree version 4 maximum 2704 for index "requests_url_idx""
Hi everyone,

I have OpenReplay running on a Google Cloud Platform Kubernetes and I started noticing this message on the db pod.

    index row size 2864 exceeds btree version 4 maximum 2704 for index "requests_url_idx"

The hint that is given in the logs is `Values larger than 1/3 of a buffer page cannot be indexed. Consider a function index of an MD5 hash of the value, or use full text indexing`

[2021-10-15 05:34] Gregordy commented on #198
It looks like [this](https://github.com/openreplay/openreplay/blob/b15281466d38a7cb0d6d710ee38f457d72a0757f/scripts/helm/db/init_dbs/postgresql/init_schema.sql#L608) index creation on the url column might be the culprit.

I guess that in the case a URL is long enough, it will break the algorithm that creates the index right?

[2021-10-15 05:45] kieran-mgc opened #199 "tracker.start() throws uncatcheable errors when capture rate is limited."
It looks like API.start() uses app.start() under the hood, which returns a promise. When "capture rate" is limited, the rejected sessions return 403 and app.start() throws an error. It would be great if API.start() would return that promise so we can handle the error.

[2021-10-15 08:58] tahayk commented on #82
Hey
it is possible by editing the function `auth_exists` in api/chalicelib/core/users.py;
after that you have to build you own docker image, and replace it in `/scriopts/helm/app/chalice.yaml`
PS: you will have to do the same thing whenever you upgrade openreplay;

easy workaround is to invite other users, that way each one will have his own credentials and no one will be disconnected

[2021-10-17 04:18] Gregordy commented on #198
Yeah, I was thinking about removing the index as this error may also be the cause for one or two others I get.

Ah thanks a lot mate for the step by step explanation, I'll try it ASAP and see if it'll fix my issue(s).

[2021-10-17 10:11] tahayk commented on #198
@Gregordy you are welcome,
out of curiosity, what other 2 errors are you referring to ?

[2021-10-17 21:24] Gregordy commented on #198
@tahayk
The two other errors I get are:
- insert or update on table "requests" violates foreign key constraint "requests_session_id_fkey" and
- duplicate key value violates unique constraint "requests_pkey".

But I was wondering if the fact that the index creation crashes when trying to insert on the requests table was not creating inconsistencies in the next operations that takes place in the pro

[2021-10-18 22:16] tahayk commented on #198
@Gregordy
thank you for the 2 errors,
we should investigate them in the DB worker because this can happen for different reasons.
we will keep you posted.

[2021-10-18 23:14] Gregordy commented on #198
@tahayk Thanks a lot mate, this would help a lot! 🙏🏼
Even having hints would be greatly appreciated!

[2021-10-21 15:11] tribet84 opened #202 "Auto discard no valuable recordings"
After using OpenReplay for a month already I found that the session tab fills up with lots of short recordings that don't add much value. Same with long recordings with 1 event. It would be great if the system could automatically discard sessions of less than 30 seconds or less than 10 events.

[2021-10-22 04:37] Gregordy opened #203 "The get projects query execution time is about 25 sec"
Hi everyone!

I have OpenReplay installed on a GKE and I noticed that [this query](https://github.com/openreplay/openreplay/blob/6d755ddd1829e4fb69c6a299ebe756cc02a24493/api/chalicelib/core/projects.py#L47) is super slow on my end.

To give a bit of context, I have 336 projects and a total of ~212 189 sessions.
This runs on 2 nodes that each have 2 vCPU and 8GB of RAM.

Here is the query plan of t

[2021-11-01 04:37] gaokun opened #204 "Can I install OpenReplay on CentOS?"
I checked the document.
It is all about Ubuntu.

Can I install OpenReplay on CentOS?
Do I miss something or OpenReplay doesn't support CentOS yet?

Thx

[2021-11-02 07:02] rjshrjndrn commented on #204
@gaokun Hmm. We used ubuntu because it was easier to start with, and supporting multiple distros can be challenging. But the scripts are written in bash, so it won't' be an issue except
- some package installations, like k3s, ansible, docker nfs-common(which is depricated)
If you can install these manually, and start the script, further installation shouldn't be an issue.

[2021-11-02 07:55] gaokun commented on #204
@rjshrjndrn Thank you for the detail response.
I have already asked my company for an ubuntu os, and trying now.
Hope it goes well. ^_^
Thanks again.

[2021-11-02 07:55] #204 closed

[2021-11-04 17:54] mhterres opened #206 "React - CSS issue"
Hello.

When using React, we are having issues with the css files. They can't be found in the sessions-assets so the page is displayed completely wrong in the replay.
![openreplay-css_issue](https://user-images.githubusercontent.com/5237208/140392990-ec983100-7d7b-42cf-9057-da666c370761.png)
![openreplay-css_issue2](https://user-images.githubusercontent.com/5237208/140392997-0242e22c-0342-4c83-801

[2021-11-04 17:57] estradino commented on #206
Hey @mhterres
1. Are these CSS files publicly available so OpenReplay backend can access them?
2. Are you using S3 for storing assets?

[2021-11-04 23:23] nicolashmln opened #207 "HTTP pod auto restarting a lot"
When we look at the resources (CPU and RAM) everything is fine, the graphs show an almost straight line, but the pod can restart 40 times a day. Here the logs which can be related:

[code]

Any idea how to fix that?
Thank you

[2021-11-05 11:47] mhterres commented on #206
Hello @estradino, thanks for your reply.

1) Yes, the file is publicly available, but you know, there is something weird about it.

It is looking for /static/css/main.2bef9849.chunk.css.5, but the file is static/css/main.2bef9849.chunk.css

I don't know where that .5 is coming from. Did you see something like that before?

2) No, I'm not using S3.

I installed OpenReplay using these instructions:

[2021-11-05 18:02] mhterres commented on #206
Another piece of information:
we are using the application behind HAProxy. We discovered that when we don't use HAProxy we don't have problems.

We'll make more tests, but currently we don't know what on HAProxy could be the reason of this situation.

Hopefully with this new information you can give us some advise.

Thank you.

[2021-11-08 04:21] Gregordy commented on #198
Do you have any news on this one? Or some hints about where I can try to dig those two DB worker-related errors?

[2021-11-09 05:58] jaruesink opened #209 "iFrame Cross-Origin Blocked"
When I try to load the tracker on the same page that I have a Stripe iFrame element, I get the following error.

![image](https://user-images.githubusercontent.com/4207065/140870286-cd8e47d1-120a-4c11-8690-8599eb278f60.png)

This code can be traced down to the handleIframe method here:

Line 413
https://github.com/openreplay/openreplay/blob/2ce6ff8c79db3e91eb5cabc86c52871f51520fa9/tracker/tracker/

[2021-11-09 15:48] mhterres commented on #206
The problem was related to a file that could not be cached (for firewall reasons) when we first started the tracker.

But even after allow the IP in the firewall it still failed for days, so probably was the cache causing issues. Is there some way to clean all the cache of a project?

Thank you.

[2021-11-09 17:43] estradino commented on #206
@mhterres you can follow the below steps to clean/reset the cache:

1. Run `k9s -n db`
2. Use the keyboard arrows to navigate the list and get to the `minio-*` container
3. Press s to have shell access the Minio (object storage) container
4. Run `mc alias set minio http://localhost:9000 $MINIO_ACCESS_KEY $MINIO_SECRET_KEY`
5. Run `mc rm --recursive --dangerous --force minio/sessions-assets` to rem

[2021-11-09 20:05] PandaCodes commented on #209
Hey, @jaruesink!
This happens when tracker tries to observe a cross-origin iframe. I guess, you use the `captureIFrames: true` option. You can utilise `data-openreplay-capture` attribute instead on the iframes (same-origin only) you want to capture.
Though this scenario should be handled on a tracker level, I will add it in a TODO list.

[2021-11-10 01:40] you-yas55 opened #211 "OpenReplay was unable to start. DOMException: Blocked a frame with origin"
Hi, Facing this error on Nuxt and Vue, on any page that contains an iFrame, a video or similar.

It works fine if the page does not contain any videos/iframes.

Any ideas?

[code]

[2021-11-10 01:51] you-yas55 commented on #209
Same issue, turned off captureIFrames: true and it does not work on either case,
I do not think there is a need to capture iframes for us, but at least it should record the rest!

[2021-11-10 09:40] mhterres commented on #206
Thank you.

Do you mind to add it in the troubleshooting section of the docs.

It'll probably help more people in the future.

[2021-11-10 09:40] #206 closed

[2021-11-10 18:12] estradino commented on #206
Added a new section to clear cache in documentation.

[2021-11-11 11:59] PandaCodes commented on #211
@you-yas55 Thanks for reporting. Could you please update the `@openreplay/tracker` package to the version `3.4.7` - that contains the fix

[2021-11-11 12:01] PandaCodes commented on #209
@jaruesink Could you update the tracker to a version `3.4.7`, that should fix the issue

[2021-11-11 12:04] #195 closed

[2021-11-12 05:02] cawfeecoder opened #212 "Loki as a log integration"
Is there any chance that we’ll see a log integration for Loki? It’s a pretty popular log collect in the container world and would be nice to have integration.

[2021-11-15 15:02] #211 closed

[2021-11-15 20:03] m-hinds commented on #211
@PandaCodes  I'm getting the same error when using the "script" method of including openreplay.
Can you please update //static.openreplay.com/latest/openreplay.js ?

[2021-11-16 09:37] mhterres commented on #206
Thank you very much!!!

[2021-11-16 17:34] PandaCodes commented on #211
@m-hinds updated today.

[2021-11-17 07:02] reinoldus commented on #199
Is this being worked on? It is super annoying and messes up all sentry statistics

[2021-11-18 09:28] domnantas commented on #146
Experiencing the same issue, 80% of the time loader spins indefinitely when connecting:
![image](https://user-images.githubusercontent.com/51953549/142387952-c5e6ac3f-b0f0-41e7-b95b-ad10632c9a16.png)
However, I had a couple of successful connections via assist, so I doubt it's an issue of my openreplay setup.
Here are the websocket messages, when the loader is spinning:
![image](https://user-image

[2021-11-18 14:25] samber opened #213 "Mobile SDK"
Have you considered working on mobile SDKs (Android + iOS + ReactNative + Flutter) for session recording?

[2021-11-18 14:28] estradino commented on #213
Yes @samber. We're working on that and should be releasing our iOS (+ ReactNative) beta soon :)

[2021-11-19 09:37] domnantas commented on #146
We have debugged this, so far the primary suspect seems VPN

[2021-11-19 09:47] domnantas opened #214 "webpack5 hack causes issues with Vite"
We're using [Vite](https://vitejs.dev/) for local development and recent changes in @openreplay/tracker-assist v3.4.6 cause vite build to fail with `error: Cannot assign to import "Peer"`.
![image](https://user-images.githubusercontent.com/51953549/142601891-55943131-3b83-4b0b-baaf-8f61c78b58f1.png)

This seems to be introduced by https://github.com/openreplay/openreplay/commit/08946b3c62725c2216d

[2021-11-19 12:11] vladninja opened #215 "Using OpenReplay with Basic Auth"
When we are using an OpenReplay on our testing, when we have a basic auth authorization, there are no any styles shown when replay a session.
![image](https://user-images.githubusercontent.com/76119088/142620528-c593c168-b95e-4f0b-95c2-86e529b19ac8.png)
Probably it's because an OpenReplay can not get the styles files without authorization.
How can I solve this issue?

[2021-11-19 12:25] estradino commented on #215
Hey @vladninja,

Yes, you got it right. OpenReplay cannot access those stylesheets (and perhaps fonts and icons too) which makes the recordings look... well not very nice.

In order to fix that, you'd need to copy those assets into a publicly accessible domain. Then, in tracker, use the `resourceBaseHref` option to specify that site. Check [Javascript SDK > Options](https://docs.openreplay.com/ins

[2021-11-19 15:18] Nicoowr opened #216 "Many "Anonymous User" sessions"
Hi,

I'm using OpenReplay (hosted by OpenReplay) on my SPA with this code:

[code]

The hook is used during the app initialization (`__ENABLE_TRACKERS__ = true`). Unfortunately I'm getting a big amount of unidentified sessions:
![Screenshot 2021-11-19 at 16 15 51](https://user-images.githubusercontent.com/28652231/142646153-db39d9ef-5c0a-4574-bf65-138934d2f73f.png)

Is there anything I've done wro

[2021-11-19 15:44] shekarsiri commented on #216
@Nicoowr can you try setting the UserId `onStart` as follows
[code]

[2021-11-19 16:20] Nicoowr commented on #216
@shekarsiri The problem is I can't set it right at the beginning because the user information is not loaded yet :( (hence the `useEffect`)

[2021-11-20 09:18] andreafalzetti opened #219 "Error when bundling with Webpack 5: Module not found: Error: Can't resolve './utils'"
Hi folks, I recently discovered this product and I really like it! Great job!

I’ve integrated successfully using the script downloaded by CDN but I’d prefer to use the NPM module. However, when I import `@openreplay/tracker` my webpack build breaks:

- Node 16
- webpack 5.44.0

[code]

[2021-11-22 10:49] Nicoowr opened #220 "Integrate multiple projects with Sentry"
Hi

Is it possible to integrate multiple OpenReplay Project with Sentry? Currently it seems only one project can be integrated.

![Screenshot 2021-11-22 at 11 48 39](https://user-images.githubusercontent.com/28652231/142848321-76bbb086-f60b-4638-95a0-939c0e5898e6.png)
 ?

[2021-11-22 13:36] estradino commented on #220
Hey @Nicoowr,
Indeed, we support one Sentry integration per project.
What's your use case before I add that to our backlog?

[2021-11-22 14:57] Nicoowr commented on #220
Hi @estradino
We two SPA apps on which we run openreplay. We'd like to connect both to Sentry

[2021-11-22 20:45] estradino commented on #220
In that case, you can have 2 projects on OpenReplay connected to 2 different Sentry integrations. The limitation is one integration per project.

[2021-11-23 08:57] Nicoowr commented on #220
Oh I see I got confused by the interface: since it is in the "All projects" menu, it feels like I can choose only one openreplay project for only one sentry configuration. But I just saw I could register a different sentry configuration for each project.

Got it thanks @estradino !

[2021-11-23 08:57] #220 closed

[2021-11-23 11:29] MajidSadrr opened #221 "Selected funnel doesn't save after playing next record of the selected one"
Hi.
I found out that there is a problem with saving selected funnels. Everything works fine when I select a funnel and see a record and then click on next button to play the next record. The issue comes in when after all, I click on **Back button**. The funnel isn't selected anymore and I lose the road to see the next record of last one I saw.

[2021-11-23 14:37] supmanyu commented on #211
Hi @PandaCodes I'm on the latest version 3.4.7 but still facing this issue when trying to initialize openReplay inside an iframe that runs in a 3rd party website, is there a way to make it work with my current setup?

Please check the cosole logs here:
https://f10boxing-dev.weebly.com/reserve.html#/class-schedule/r/3

[2021-11-24 11:52] marta-123 commented on #25
the recording attempt was unfortunately unsuccessful. Clicks and actions performed on the site have been posted in the logs, but they are not visible in the recording. The page did not load. I attach the info from the console on the screen.
Has there been any solution to this topic yet? Are there any works planned?

<img width="1792" alt="Screenshot 2021-11-24 at 12 46 59" src="https://user-images

[2021-11-26 13:40] domnantas opened #222 "Do not throw error on cancelled session"
I have reduced the session capture rate to 5%. That means 95% of users are not tracked, but they get this in console:
![image](https://user-images.githubusercontent.com/51953549/143589192-530f0a0f-2c4a-46e6-9cc9-b9af30d594e3.png)

This seems odd, because I think this cancelling is intended, therefore not an error. This piece of code causes the error:
https://github.com/openreplay/openreplay/blob/2

[2021-11-29 18:40] PandaCodes commented on #222
@domnantas indeed, you mentioned in the pr the reasons why I didn't do it instantly. Please, find the promise solution in the version `3.4.9` - the tracker.start() returns a promise from this moment, and canceling/errors could be handled with `.catch`. (Still not sure it is the best solution though)
Thanks for kicking me with this contribution!

[2021-11-29 18:48] PandaCodes commented on #172
This fix-hack was added in version `3.2.0`

[2021-11-29 18:48] #172 closed

[2021-11-29 19:00] PandaCodes commented on #219
This happens due to new strict policy for imports in Webpack 5 and the inconsistent [behaviour](https://github.com/microsoft/TypeScript/issues/16577) in regards to file resolutions in `typesctipt` that is managed somehow in the latest (dev-)versions.
@andreafalzetti  Please, use tracker versions starting from `^3.4.8` - the incompatibility was fixed  there.

[2021-11-29 19:02] PandaCodes commented on #199
@reinoldus Please try v `3.4.9` - API.start() return Promise now

[2021-11-29 19:03] #209 closed

[2021-12-01 13:09] thundermiracle opened #226 "Add examples of how to use openreplay & assist in main frameworks"
Thanks for your great project.

IMO Assist is a very attractive function, but as it's [using `window` object directly](https://github.com/openreplay/openreplay/blob/main/tracker/tracker-assist/src/_slim.ts#L8), it is a bit hard to use it in the most popular React framework `Next.js`.

How about add some examples to provide some hints?

[2021-12-01 14:38] estradino commented on #226
@thundermiracle were you able to use it on Next.js?

[2021-12-01 14:45] thundermiracle commented on #226
Yes, but I’m not sure if my approach is correct.

https://github.com/thundermiracle/openreplay-examples/tree/main/examples/with-next

[2021-12-01 17:51] estradino commented on #226
Yup, that's the right approach/way to go!

[2021-12-01 18:34] Apollinaire opened #227 "[Feature] handle masking images"
For privacy reasons I would like to hide user avatars from my replays. I tried flagging img elements with `data-openreplay-masked`, as well as a parent div with no success.
Apparently (thanks @estradino for checking) this is unsupported for now, only text content is hidden, so I would love to see images being handled!

[2021-12-01 23:55] thundermiracle commented on #226
Perhaps it's not the best way, as Next.js has the dynamic function with SSR off.
https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr

I tried to use Next.js' dynamic import, but it seemed that OpenReplay was not started tracking.

[2021-12-03 11:16] riten7 opened #228 "Access OpenReplay with already applied filter when we share url"
If I apply a filter and share link with the other user then that page should load the list with the filter applied ..In general we wanted to implement this logics in our current open replay integration.

[2021-12-03 13:06] rjshrjndrn commented on #212
Hi @cawfeecoder Great!!. As of now, we don't have the bandwidth for that. But If you can raise a PR, I'll be glad to review it.

Some considerations,
1. It should be optional, because not everyone wants to have a monitoring/logging tool especially because of resource constraints.
2. Zero config or as minimal as possible.

[2021-12-03 13:07] rjshrjndrn commented on #168
@snycloud I'll close this issue for now due to inactivity. Feel free to comment here, if you have any questions.

[2021-12-03 13:07] #168 closed

[2021-12-03 13:08] rjshrjndrn commented on #103
@trmjoa I'll close this issue due to inactivity. Feel free to comment if you face any issues.

[2021-12-04 00:09] #222 closed

[2021-12-04 00:11] #199 closed

[2021-12-04 00:12] estradino commented on #207
Fixed in v1.3.6.

[2021-12-04 00:12] #207 closed

[2021-12-04 00:16] #103 closed

[2021-12-04 00:18] estradino commented on #102
Fixed in v1.3.6

[2021-12-04 00:18] #102 closed

[2021-12-04 00:18] #25 closed

[2021-12-04 00:20] estradino commented on #221
Fixed in v1.3.6

[2021-12-04 00:20] #221 closed

[2021-12-04 00:21] #215 closed

[2021-12-05 03:34] thundermiracle commented on #226
I fingered it out, if anyone is interested about the solution:
https://github.com/thundermiracle/openreplay-examples/blob/main/examples/with-next-dynamic-import/pages/_app.tsx#L6-L10

[2021-12-06 09:23] riten7 commented on #216
I am also facing the same problem of having too many Anonymous User instead of user email. It is making us difficult to track the particular user and their activities.

[2021-12-06 12:34] MajidSadrr opened #236 "CSS files aren't loading sometimes (guess it happens after a new deploy)"
Hi,
I found an issue happening while I see my records. CSS files aren't loading sometimes and I couldn't find the exact issue. But I guess it happens after some commits are being deployed. Maybe on each deploy, the past records gets broken and new ones load fine before I deploy new commits.
Any suggestions why is it happening?
BTW this screenshot is for a broken record. The assets take a short tim

[2021-12-06 14:14] estradino commented on #236
What version are you on @MajidSadrr?

[2021-12-07 07:30] MajidSadrr commented on #236
v1.3.5

[2021-12-07 15:09] jm124y opened #242 "Text Area Masked on Session Replays"
When watching a session, whether through live assist or recorded, I notice that any <textarea> element data gets masked in the recordings. I've tried using different constructor configurations and have tried different styling. Is there a way through a prop to unmask <textarea> elements? I'm not seeing anything in the OpenReplay docs to point to this scenario.

[2021-12-07 15:15] estradino commented on #242
@jm124y are you using the NPM or the JS snippet for your tracker? Are you already sanitizing any UI element using the `openreplay-data-masked` HTML attribute?

[2021-12-07 15:18] jm124y commented on #242
I am using the NPM packages for the tracker. On our text area elements, we aren't using any sanitation. Normally the use case for our text area fields are for notes.

[2021-12-07 15:21] estradino commented on #242
What version of the tracker are you on?

[2021-12-07 15:22] jm124y commented on #242
tracker version 3.4.7 and tracker-assist version 3.4.7

[2021-12-07 15:23] estradino commented on #242
Can you use latest for both?

[2021-12-07 16:23] jm124y commented on #242
I've installed the tracker to 3.4.12 and tracker-assist to 3.4.9, still receiving the same issue on textarea elements

[2021-12-08 00:23] nicolashmln opened #243 "[v1.3.6] hostMountPath on storage and sink"
On Google Cloud Kubernetes the path `/openreplay/storage/nfs` is readonly from the pod. I had to update it to `/tmp/openreplay/storage/nfs`. Is it gonna make some troubles?

Other question, after the update I saw that we had 2 replicas for the sink and storage pods (we have 2 nodes). Is it okay to store the data in 2 separate places?

Thank you.

[2021-12-08 18:48] rjshrjndrn commented on #243
ideally, you should have an NFS if you have multiple nodes.

[2021-12-09 20:33] jm124y commented on #242
I should mention on this issue as well, we are using Vue 2.6 with v-model on the textarea elements.

[2021-12-11 13:26] shekarsiri commented on #216
@Nicoowr this can be solved by initiating the OpenReplay inside the useEffect hook (once the user info is ready) or by calling the `setUserID` periodically using the setTimeout.

[2021-12-13 07:06] flo8 commented on #198
Hi here! Having the same problem here @tahayk any idea where the problem might be in the code? We'd like to help if possible. Many thanks :)

[2021-12-13 14:40] Nicoowr commented on #216
Thanks for your answer @shekarsiri

We ended up switching back to LogRocket unfortunately but I hope it'll help someone else!

[2021-12-13 14:40] #216 closed

[2021-12-15 06:35] williamflynt opened #251 "Pull Metadata from request/headers in OpenReplay server"
Metadata is great! Thanks for creating this software - ESPECIALLY the live assist feature.

### Feature Request

Allow Metadata objects to be associated with a header value or request property.

For header value, requests with that header set will populate the Metadata field.

### Use Case

Load balancers can often set information the frontend doesn't have, like IP or even city/region. We can impo

[2021-12-17 01:35] flo8 commented on #198
@tahayk would be great to have a pointer to the part of the source code that is causing this, we'd love to help :)

[2021-12-21 05:45] vanpyrzericj commented on #25
@estradino I'm curious if you were able to sort this out with @marta-123? I was/am having the same issue - also with a VueJS application. So, there might be some sort of correlation here. Thanks!

[2021-12-22 10:19] nogamenofun98 opened #255 "Assist Plugin cannot put custom port defined at ingestPoint (plugin: v3.4.16, server: v1.3.6)"
Based on the issue previously I created: #185
It show is fixed in v1.3.5, today I just updated the assist plugin to v3.4.16, and found it doesn't append the port I defined at the ingestPoint.

Based on the line 149 getHost() in file: `@openreplay/tracker/lib/app/index.js`
![image](https://user-images.githubusercontent.com/9070825/147077025-61155922-bbd2-4d03-aca1-0dc5346b184a.png)

and the assist

[2021-12-22 18:12] bbkgh opened #256 "Question: Healtcheck endpoint for web components"
Hi. Does web components (like Chalice) have (any simple) healthcheck endpoints for using as readinessProbe/livenessProbe in kubernetes?

[2021-12-22 18:21] bbkgh opened #257 "Add retry for chalice after disconnecting from postgres"
Hi. We have a problem in reconnecting Chalice to postgres after postgres distruption (reset). Chalice cannot connect to postgres after that and we have to reset Chalice pod for working again.

[2021-12-23 04:40] nicolashmln opened #258 "Snippet documentation"
When you are connected on the openreplay dashboard you have 2 options to include the tracker, via the snippet and via npm. The documentation only talks about the [install via npm](https://docs.openreplay.com/installation/javascript-sdk).
I would like to install the tracker via the snippet and the options like `captureResourceTimings`, `capturePerformance` etc. How should I do that? If I want to us

[2021-12-23 05:25] nicolashmln opened #259 "Player error when capturePerformance is at false"
I've put the `capturePerformance` at `false` in the tracker and I have this error when I click on the "Performance" button on the player:
[code]
Openreplay v1.3.6, Tracker v3.4.16

Thank you

[2021-12-24 12:48] ab-star opened #261 "Open Replay Assist issue"
While using assist...when either refreshed or navigation to a different page...and creates a new stream for the new page...while disconnecting the current one....

is there anyway to keep the stream continues?

[2021-12-30 00:52] jvandevelde opened #264 "Elasticsearch integration form - Add button doesn't work"
Trying to configure the Elastic Search integration with a cluster hosted on ElasticCloud but the UI won't accept the entered values (the Add button never becomes enabled),

**Host:** https://xxxxxx.us-east-1.aws.found.io
**Port:** 9243

It appears there may be a form validation issue present - while trying various values, I saw the button transition to a spinner one time. However, I can't seem to

[2021-12-30 02:21] richgoldmd commented on #168
Please reopen - I am having this same issue using tag 1.3.6

[2021-12-30 23:39] warent commented on #243
Thanks @nicolashmln this seems like a bug. Took me a while to figure it out. All I could find was the nfs provisioner was commented out with no context. Maybe wrong but it seems that commit was incomplete and should've updated these volume claims

https://github.com/openreplay/openreplay/commit/85ac7884dc95c0efd5db4a7deb1720a5bfc8ec1b

[2022-01-01 19:59] warent opened #265 "Weird typing issues"
I'm getting some TS type definition problems that's preventing my frontend from building. Running `yarn deploy:minio`

[code]

[2022-01-04 11:01] shekarsiri commented on #265
fixed in 8d2f688986c2409dc400e9f44f73eb4580061c7d

[2022-01-04 11:01] #265 closed

[2022-01-06 04:55] Trade-Help commented on #259
@

[2022-01-06 04:55] Trade-Help opened #267 "I've put the `capturePerformance` at `false` in the tracker and I have this error when I click on the "Performance" button on the player:"
I've put the `capturePerformance` at `false` in the tracker and I have this error when I click on the "Performance" button on the player:
[code]
Openreplay v1.3.6, Tracker v3.4.16

Thank you

__Originally posted by @nicolashmln in https://github.com/openreplay/openreplay/issues/259__

[2022-01-06 04:57] #267 closed

[2022-01-06 04:58] Trade-Help commented on #267
- ****

[2022-01-10 21:39] z0lo13 opened #268 "ReferenceError: Element is not defined"
NEXTJS 12.0.4

_app.js

[code]

the error log:

[code]

[2022-01-13 19:07] tsaiDavid commented on #268
Running into the same problem testing this out!

[2022-01-14 07:50] davidboom95 opened #269 "require() of ES Module is not supported"
Hi!
I'm having this error on my project build:

[code]
It's weird because I'm using `import Tracker from '@openreplay/tracker'` to get the tracker

[2022-01-14 08:44] estradino commented on #269
@davidboom95 can you try with `import OpenReplay from '@openreplay/tracker/cjs'` ?

[2022-01-14 08:46] estradino commented on #268
@tsaiDavid this should be fixed in the upcoming version (EOW).
In the meantime, please use `3.4.17-beta.1` which resolves the issue.

[2022-01-14 14:41] estradino commented on #269
Yes, that's #268 which will be fixed in the upcoming version (EOW).
In the meantime, please use `3.4.17-beta.1` which resolves the issue.

[2022-01-16 18:41] fabifont commented on #163
+1

[2022-01-16 19:05] digitall-it commented on #163
Thanks everyone for the comments. I was starting to wonder if you could install docker-compose on a Plesk server on the shell and use the default mechanisms to start the machines on startup and restart them if they halt, and if those machines live a in a  different pool from the ones that Plesk creates. Did anyone do any experiments on that? It would be interesting because as Plesk is widely sprea

[2022-01-19 11:25] ab-star opened #283 "Project doesn't exist or capture limit has been reached""
Hello

I am trying to use tracker in an extension so that we can record for a third party side.    .as we wouldn't have the code........i am injecting the tracking code through a chrome extension and trying to set the user metadata for that project...the tracking code gets injected but the tracker is unable to start and gives the below error...

Error -
Uncaught (in promise) Error: Server error: 4

[2022-01-19 11:44] estradino commented on #283
@ab-star are you setting a capture limit? You can see that in Sessions page then click on Manage.
This errors results from 2 things: either you're using a wrong projectKey, or you're setting a capture limit.

[2022-01-19 11:57] ab-star opened #284 "Unable to see click maps"
Hello,

If i click on the **Click Map** button in the player to view the click maps....the player stops...**Click Map** section shows no data found...i am unable to click any where in the player if **Click Map** Button is active...

I wonder if there is something i need to configure for **Click maps** or not

Could anyone me with this...

Thank you

[2022-01-19 12:30] ab-star commented on #283
Hello

Thank you for the response Mehdi

One thing i want to confirm do i have to use project name or the project
value for project key
currently i am using project value
 i.e some encrypted text after the project name
for eg: "project_name" : "project_value" in projects section

also i had earlier set the capture as capture all in manage section is it
correct? or any changes needed

Thank you

On

[2022-01-21 14:43] zsolt-dev opened #285 "Option to disable tracking. For example on for localhost testing"
Hi,

even if I call `tracker.start();` conditionally, only on production, there is still this in the development console:

[code]

I cannot get rid of the `new Tracker(` code on development since I use graphql tracking with ApolloLink().

It would be nice to now throw anything in the console, if tracker.start() have not been called or have a separate option on Tracker constructor.

Thank you

[2022-01-21 17:43] gautierlabarre commented on #242
Hi, same problem :
[code]

also a v-model on textarea if that can help (also i'm trying on localhost for now)

[2022-01-23 22:44] estradino commented on #283
You must use the projectKey (what you called value in your example). It should be displayed in the snippet after clicking on 'TrackingCode' in 'Preferences > Projects'.

[2022-01-23 22:44] #283 closed

[2022-01-23 22:44] estradino commented on #269
Fixed in tracker `v3.4.17`.

[2022-01-23 22:44] #269 closed

[2022-01-23 22:45] estradino commented on #261
Fixed in OpenReplay `v1.4.0`.

[2022-01-23 22:45] #261 closed

[2022-01-23 22:48] estradino commented on #257
Fixed in OpenReplay `v1.4.0`.

[2022-01-23 22:48] #257 closed

[2022-01-23 22:56] estradino commented on #255
Fixed in tracker-assist `v3.4.16`.

[2022-01-23 22:56] #255 closed

[2022-01-23 22:57] estradino commented on #268
Fixed in tracker `v3.4.17`.

[2022-01-23 22:57] #268 closed

[2022-01-23 22:58] estradino commented on #242
Fixed in tracker `v3.4.17`.

[2022-01-23 22:58] #242 closed

[2022-01-23 22:59] estradino commented on #227
Now supported in tracker `v3.4.17`.

[2022-01-23 22:59] #227 closed

[2022-01-24 04:45] ab-star commented on #283
Thank you for the clarification. 🙂

On Sun, 23 Jan 2022 at 14:44, Mehdi Osman ***@***.***> wrote:

[2022-01-24 18:43] jm124y commented on #146
I'm also seeing the same issue with loading indefinitely on Live Assist. I've got 2 profiles, one for our TEST environment and one for PROD. The TEST environment seems good but PROD Live Assist doesn't work at all. Is there a connection limit or thread limit that could be contributing to the cause? We don't get a ton of traffic on our TEST environment.

[2022-01-25 17:39] zsolt-dev opened #289 "Pollution of console with "OpenReplay tracking started." in production"
Hi,

When using your js lib via NPM, the `window.ENV.PRODUCTION` is not populated and therefore I can see this in the console: "OpenReplay tracking started.".

Should I inject `window.ENV.PRODUCTION` via webpack or wait for the fix ?

Thank you

[2022-01-25 17:53] zsolt-dev opened #290 "Feature request"
Hi,

I am not sure if other people would find it useful, but I would like to have an ability to attach more info about user.

In addition to ID, I would like to send:
- full name
- organisation

I know there is a metadata option, but I use that for not unique things like:
- user type
- country
- ...

Thank you

[2022-01-25 17:58] estradino commented on #290
@zsolt-dev you can already use [Metadata](https://docs.openreplay.com/installation/metadata) for that. It allows you to send all these key/values and enrich the user identity.

[2022-01-25 17:58] #290 closed

[2022-01-25 21:58] jm124y opened #291 "Upgrading OpenReplay from 1.3.6 to 1.4.0 Produces Error"
Following the Upgrade Deployment docs (https://docs.openreplay.com/deployment/upgrade), when trying to upgrade from version 1.3.6 to 1.4.0, I get the following error:

`WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /home/ec2-user/.kube/config
WARNING: Kubernetes configuration file is world-readable. This is insecure. Location: /home/ec2-user/.kube/config
Rel

[2022-01-26 03:40] rjshrjndrn commented on #291
Hi @jm124y Thanks for this issue. I've updated the upgrade documentation. Can you please follow the [PR](https://github.com/openreplay/documentation/blob/261072ddd518fd68a9b0c1ac462301f8e9374df4/content/deployment/upgrade.md}

[2022-01-26 16:23] jm124y commented on #291
The upgrade seems to have worked after following the pull request. The one thing that happened afterwards was not all the services started. I tried restarting the EC2 instance, and even ran the cli command `./openreplay-cli -S all` and I get en error of `./openreplay-cli: line 87: cd: ./app: No such file or directory`.

[2022-01-26 17:47] rjshrjndrn commented on #291
Hi,
As 1.4.0, we've migrated openreplay to kubernetes native, means we're only using helm to template and manage state. So our old method won't work.
Can you please
[code]
There have been some changes related to this migration.
Thank you..

[2022-01-26 19:05] jm124y commented on #291
That seems to have worked, thank you!

[2022-01-26 19:19] #291 closed

[2022-01-26 19:19] estradino commented on #264
Fixed in OpenReplay `v1.4.0`

[2022-01-26 19:19] #264 closed

[2022-01-26 19:22] rjshrjndrn commented on #243
Closing the Issue due to inactivity. If you face any issues, feel free to reopen.

[2022-01-26 19:22] #243 closed

[2022-01-27 10:33] domnantas commented on #222
I still see 403 and errors being thrown in the console with reduced capture rate
![image](https://user-images.githubusercontent.com/51953549/151341540-2d1720eb-af94-4240-8f07-d16d87d8bf48.png)

[2022-01-27 15:36] Destreyf opened #292 "Issue searching/filtering sessions."
When i submit a search for a session i get a 500 internal server error.

[code]

I have deployed it on an EC2 instance, everything else seems to be running fine, I don't see a way to get more detailed logs (maybe i overlooked it).

[2022-01-27 21:45] Destreyf opened #293 "Performance Issues using NPM on Angular"
When i use the NPM module, it causes my Angular 13 application to hang on pages with any amount of reactivity, switching to the CDN snippet does not have this issue.

I am not sure if I'm doing something wrong with my setup, but it's causing quite a bit of trouble.

I will see if I can create a reproduction.

[2022-01-27 23:16] mike-greenmmd opened #294 "<select> menu not appearing on replay"
All clicks on `<select>` elements aren't being recorded, is this a known bug?

[2022-01-28 11:00] estradino commented on #293
@Destreyf are you using any plugin (MobX, Fetch, Axios, etc.)?

[2022-01-28 11:39] alkanna commented on #214
@domnantas As a workaround I am using patch-package for now.

[2022-01-28 12:13] alkanna commented on #146
Same here, we are using a reverse proxy for our openreplay instance, and we can't get this to work. It just spams the console on the client.

[2022-01-28 14:06] laurenz-glueck opened #296 "[Question] System requirements difference between VM and Kubernetes?"
I have a short question regarding the system requirements of OpenReplay.

In the documentation for a VM based setup like on Microsoft Azure (https://docs.openreplay.com/deployment/deploy-azure) it is mentioned that the VM needs at least `2 vCPUs, 8 GB of RAM, 50 GB of storage`.

In the documentation for kubernetes (helm) based setup (https://docs.openreplay.com/deployment/deploy-kubernetes) it is

[2022-01-28 14:14] estradino commented on #296
@laurenz-glueck well spotted! It's a typo in the documentation. I've just updated it.

[2022-01-28 14:14] #296 closed

[2022-01-28 14:23] Destreyf commented on #293
I had issues with and without any plugins.  It would cause massive frame rate drops and even completely lock up the tab depending on how much was going on in the page.

The page that's caused the entire system to lock up performs three network requests in order to get data and then renders the rest of the page layout, this page would hang entirely and would never resolve when I used the NPM module

[2022-01-28 16:09] Destreyf commented on #285
@zsolt-dev I had a similar issue, what I ended up doing is creating an array of my links for graphql tracking, and using "unshift" to push the graphql tracking stuff to the beginning of the array if I was in production.  I do a similar thing in my service that handles OpenReplay so that I don't bother initializing/starting any of the code if I'm in development.

[2022-01-28 17:35] laurenz-glueck opened #297 "[Question] Let's Encrypt SSL certificate renewal"
I have a short questions regarding Let's Encrypt ssl certificates.

Is OpenRelay taking care of the certificate renewal automatically or do I have to take care of the renewal myself?

[2022-01-31 07:24] laurenz-glueck opened #302 "[BUG] UnhandledRejection error when starting tracking in Safari Mac and iOS"
Since we have running OpenReplay on our production System, we are getting a lot of the following errors from Safari users:

[code]

The errors only appear for users using Safari for Mac or iOS in versions like 15.1, 15.2 and 15.3.

Here you can see a few of the events:
<img width="1490" alt="Screenshot 2022-01-31 at 08 19 56@2x" src="https://user-images.githubusercontent.com/2734232/151753466-d478

[2022-01-31 16:40] laurenz-glueck opened #304 "[Feature] Implementing cert-manager for Let's Encrypt certificate handling"
As mentioned in discussion #303 and agreed with @estradino I will try to implement automatic Let's Encrypt certificate handling using the [cert-manger](https://cert-manager.io/docs/) package.

[2022-01-31 20:52] fev4 commented on #169
I'd like to do this too, is that even possible?

[2022-02-02 06:56] rjshrjndrn commented on #304
@laurenz-glueck Superb Issue :tada:

Some Getting started Points:
- We're not using Kubernetes ingress ( using OpenResty, which is Nginx + lua, as reverse proxy. So SSL annotations won't work)
- Is CertManager namespace level resource? because we've adopters who're running OpenReplay in shared Kubernetes cluster, and it shouldn't conflict with their CertManager

[2022-02-04 10:45] estradino commented on #169
This unfortunately not possible using the snippet. This option is only available for the NPM setup.

[2022-02-04 10:45] #169 closed

[2022-02-06 17:41] LuKaa opened #309 "Empty screen recording with react app."
Hi there,

I'm trying to get started with openreplay and have already got my first recordings to the server.
However, the screen stays empty on all recordings. I can see mouse movements and events.

Inspecting the DOM in openreplay I can see that the body stays empty throughout the recording.

Dou, you guys, have any idea how I could troubleshoot this?

![image](https://user-images.githubuserconte

[2022-02-06 20:22] estradino commented on #309
@LuKaa are you testing in localhost? Also what's your stack?

[2022-02-07 06:43] LuKaa commented on #309
@estradino yes I'am testing on my developing machine. However, I have built the application and run over ngrok.io so the connection is HTTPS.

The app is based on create-react-app and running react 17.

When should I init the tracker? I'am currently doing it right in the root index.js. Maybe that's too early?

[2022-02-07 11:25] laurenz-glueck commented on #304
@rjshrjndrn Thanks for your input!

Regarding OpenResty - I have never used it before. But I will try to find out if cert-manager will work with it...

And I think that cert-manager is not a namespace level resource. But I think it makes not so much sense to enable cert-manager for users who are running OpenReplay in a shared k8s cluster anyway. Because they will have there own ssl handling alread

[2022-02-07 14:23] estradino commented on #309
Did you try without ngrok?

[2022-02-07 19:45] Destreyf commented on #293
Just following up on this.

I was able to resolve my performance issues by handling the start & other methods using angular's NgZone and running the commands outside of the zone.js's hooks, this removed all performance penalty, for future use I'm including a copy of our "service" that does all the work.

[code]

My guess is that the zone.js hooks (which hooks network & async calls) was causing a l

[2022-02-07 19:45] #293 closed

[2022-02-07 19:48] estradino commented on #293
Great @Destreyf! This will certainly help future Angular users.

[2022-02-07 19:52] Destreyf commented on #292
@estradino @tahayk

Is there anything I can do to help with debugging this?  We're about to swap off of Fullstory in favor of self hosted OpenReplay (amazing software btw!) but this is the last thing to get worked out before we can fully switch over.

I can't seem to find any documentation on logging for looking at errors and I'm not very well versed in Kubernetes so any guidance wouldbe greatly a

[2022-02-07 20:09] Destreyf commented on #292
Just as a follow up, when I follow the `chalice` logs I get the following error during my search.

I've added them as a detail/summary collapsed block to make it easier for future use.

<details>
  <summary>./openreplay-cli --logs chalice</summary>

    2022-02-07T20:05:34.299720156Z {'userId': 1, 'tenantId': 1, 'exp': 1646848051, 'iss': 'openreplay-default-foss', 'iat': 1644256051, 'aud': 'front:

[2022-02-07 20:14] tahayk commented on #292
Hello @Destreyf
sorry for the delay,
this has been fixed in v1.5.0, and it will be released this week (ETA: next 2 days if everything goes well 🤞).
Basically that issue happens because the `USERID` you are providing is a number, and the `user_id` column in the DB is a text, so just a small casting and it was fixed.

[2022-02-07 20:35] Destreyf commented on #292
@tahayk Thank you for the response, I am not sure if just fixing a casting issue will be enough.

I am having this issue searching some standard fields as well as custom fields, not just limited to the USERID field cast issue.

<details>
  <summary>custom EMAIL field</summary>

  2022-02-07T20:28:01.381562038Z ERROR:    Exception in ASGI application
  2022-02-07T20:28:01.381606549Z Traceback (most

[2022-02-07 20:55] tahayk commented on #292
@Destreyf thank you for the logs,
yeah, the `KeyError: 'isEvent'` issue was fixed in v1.5.0 too.

Just to check with you, when you say "custom fields" you are referring to the **custom events** or **metadata** ?
because we found a different issue with **metadata**, but for **custom events** it was the same issue as `KeyError`.

[2022-02-07 20:57] Destreyf commented on #292
It's Metadata, I can see that being confusing.

[2022-02-07 21:03] tahayk commented on #292
yeah, **metadata** had a different issues (payload validation issue between frontend-chalice and  operator issue in chalice) and is was fixed in `v1.5.0`.

[2022-02-08 16:59] estradino commented on #294
Fixed in tracker `v1.5.0`.

[2022-02-08 16:59] #294 closed

[2022-02-08 16:59] estradino commented on #292
Fixed in OpenReplay `v1.5.0`.

[2022-02-08 16:59] #292 closed

[2022-02-08 17:01] estradino commented on #289
Fixed in tracker `v3.5.0`.

[2022-02-08 17:01] #289 closed

[2022-02-08 17:02] #285 closed

[2022-02-08 17:04] estradino commented on #258
@nicolashmln those options are only exposed in NPM. We're working on exposing the rest in snippet.

[2022-02-08 17:07] estradino commented on #214
@domnantas could you use the workaround suggest by @alkanna? Can I close this issue for now?

[2022-02-08 17:15] estradino commented on #146
Fixed in OpenReplay `v1.5.0` with tracker-assist `v3.5.0`and tracker `v3.5.0`.

[2022-02-08 17:15] #146 closed

[2022-02-08 19:11] alkanna commented on #214
@estradino Why would you want to close a valid ongoing issue ?

[2022-02-08 19:28] Destreyf commented on #309
@LuKaa When you access your site, are you accessing it from localhost or from the ngrok URL?  The reason I ask is because the snippet won't know anything about ngrok unless you load your site from it.  I'm guessing you're using relative URL's to your assets.

[2022-02-09 01:39] warent opened #311 "Postgres listener error handling logs in an infinite loop"
This code here:
https://github.com/openreplay/openreplay/blob/bf2c901733c4940c66e04f0dc04d42e68fa42dac/backend/services/integrations/main.go#L91-L92

Somehow if the postgres connection is closed, it gets caught in an infinite loop and logs forever.

I had this running in GCP and it was logging about 500k times per minute. This ended up costing me about $1000 over a few days before I caught it and

[2022-02-09 01:45] xchopin commented on #311
ouch

[2022-02-09 02:06] kennethkoontz commented on #311
Oh no!

[2022-02-09 08:07] LuKaa commented on #309
@estradino No, I have not tried it without ngrok yet. I will deploy to a real domain and test.

@Destreyf I did access the page over the ngrok URL so my guess was it should act just like a normal domain. I will have to test this with a real domain I guess.

[2022-02-10 15:53] #311 closed

[2022-02-10 21:49] mike-greenmmd commented on #294
Is server v1.5.0 a requirement for this fix to work?

[2022-02-10 21:55] estradino commented on #294
Nope, you just need to update your tracker to `v3.5.0`.

[2022-02-10 22:01] estradino commented on #294
BTW, just to clarify what we did on this ticket: We're now capturing the event on such <select> element and displaying it in the events list. It's still not displayed in the replay since the <select> is managed by the browser, though we could emulate it in the future. Fell free to reopen this ticket if that's not what you were expecting.

[2022-02-10 22:18] mike-greenmmd commented on #294
Thanks. Now I see it! This is a pretty reasonable way of decoupling the problem.

Long term, it would be good to have the dropdown displayed in the replay as users might "hover" on items they are thinking about clicking before changing their minds & clicking the submitted option. (I am working on a pretty complex survey, so this type of behaviour isn't a crazy as it sounds).

I will leave it to yo

[2022-02-10 22:59] urbany opened #313 "Error when using assist NPM lib"
Hi, I was trying your assist lib and got this error in browser console:

[code]

This is how using your code:

[code]

versions
[code]

this is the app obj when the error occurs:
<img width="318" alt="Screenshot 2022-02-10 at 22 57 16" src="https://user-images.githubusercontent.com/50884/153510988-eb23bed6-a11f-42aa-86b0-1a447c9f2b7b.png">

Thanks in advance!

[2022-02-11 01:42] estradino commented on #313
@urbany Please [upgrade](https://docs.openreplay.com/deployment/upgrade#upgradebackend(fromv1.4.0orhigher)) your OpenReplay installation to `v1.5.0` and make sure you use tracker-assist `v3.5.0`.
One more thing, `userID` and `metadata` should be passed to the `start` method like below:

[code]

[2022-02-11 10:03] urbany commented on #313
Thanks, assist@3.5 solved the problem.

[2022-02-11 10:03] #313 closed

[2022-02-11 11:07] urbany commented on #313
@estradino when trying assist, on my browser i'm getting 404 https://api.openreplay.com/ws-assist/socket/
I'm using your hosted version on https://app.openreplay.com/

is this because i'm using 3.5 and your version is not ready for it?

[2022-02-11 16:41] cborgia opened #317 "onboarding (setup project) state aligned with url"
when we create an additional project and click the "go to project setup" button top right, the url is /[id]/onboarding/installing but the heading and tracking code is for a ~~first~~ previous project not the current one.. a simple refresh in the browser fixes.

[2022-02-11 18:33] warent commented on #311
Thanks for the quick followup @estradino :) Good news Google reviewed this issue and refunded the charge. All is well

[2022-02-11 18:41] estradino commented on #311
Great customer support from Google. Thanks very much for spotting and reporting the issue @warent!

[2022-02-11 22:58] mike-greenmmd opened #319 "Manually add metadata after session is recorded"
Metadata has been really useful for me - thanks so much for adding it!

But sometimes (most likely through my bad front-end code) it doesn't seem to "stick"

It would be great if we could manually edit the metadata in the UI (maybe through a form), rather than getting this link to the docs:
![Screen Shot 2022-02-11 at 4 54 55 PM](https://user-images.githubusercontent.com/86379861/153681963-d7c482f

[2022-02-12 05:38] jdmcd opened #320 "Packaging the helm chart into Terraform + Kubernetes"
Hi there,

Really excited to use OpenReplay! We are trying to package the Helm chart up so that it can be deployed using our Terraform infrastructure into our Kubernetes cluster. It's unclear what link I should direct Helm to - the docs say to download it locally, but the Helm provider requires either a Helm Repository or a link to a zipped provider file. Does OpenReplay host either of those?

Tha

[2022-02-13 19:00] urbany opened #321 "Assist not working with cloud version"
Hi, when using latest version (3.5) of npm packages Assist is not working. It shows the active session in the cloud, but the can't connect to it:

Also in the browser while visiting my web app with the npm packages running I keep getting this network error in the console:

Thanks in advance!

[2022-02-14 11:09] rjshrjndrn commented on #320
Hi, @jdmcd Thanks for opening this issue.
We've a roadmap to release helm as a standalone package rather than git clone. But it'll take some time. But for your specific is there any other way of integrating this? for example shell module to clone and use `helm package` command to pack it locally, and use that package to install the app?
This is a workaround.  As I told release as helm charts are i

[2022-02-14 14:05] jdmcd commented on #320
Thanks @rjshrjndrn! Local seems to be off to a good start, but now I'm getting this error:

[code]

Any ideas?

[2022-02-14 14:21] jdmcd commented on #320
I tried setting `global.s3.region` and the error goes away, but then it's replaced with:

[code]

[2022-02-14 23:24] rjshrjndrn commented on #320
check this file out. There are some shared state b/w database and application layer, which is centralized in this file.
https://github.com/openreplay/openreplay/blob/main/scripts/helmcharts/vars.yaml

[2022-02-15 04:07] jdmcd commented on #320
Gotcha - thanks. I think I am going to explore the standalone AWS deployment option

[2022-02-15 04:07] #320 closed

[2022-02-15 04:43] jdmcd opened #324 "Error: release openreplay failed, and has been uninstalled due to atomic being set: failed pre-install: job failed: BackoffLimitExceeded"
Running:

[code]

Getting:

[code]

[2022-02-15 04:43] jdmcd commented on #324
This is on a clean Ubuntu 20.04 LTS t3.large instance with 100gb of storage

[2022-02-15 04:48] jdmcd commented on #324
Running:

[code]

Gives me:

[code]

Not sure where to go from there

[2022-02-15 08:47] rjshrjndrn commented on #324
@jdmcd Hi, sorry for the issue. it's been fixed in the latest main. Please `git pull` and do the installation once again.

[2022-02-15 09:27] Romanchuk opened #325 "Getting "Gateway Time-out" when loading session (fresh install)"
Hello!

Openreplay version **1.5.0** (installed by https://docs.openreplay.com/deployment/deploy-kubernetes)
Sessions are capturing, i can see them on a list. But when i open any i get "Gateway Time-out"

I didn't find something usefull in logs...

Any ideas?

[code]

[2022-02-15 13:29] jdmcd commented on #324
Thank you, that worked!

[2022-02-15 13:29] #324 closed

[2022-02-15 15:09] samydoesit opened #328 "VueX tracker does not capture all store states"
Hello i observed that the vuex tracker does not capture all of our namespaced vuex store states.

Mutation tracking looks like it is working fine, but i am missing some of our vuex stores states.

[2022-02-15 16:46] fev4 opened #329 "Unable to scroll on click map"
Currently the Click Map only shows the current view where the recording stops. You are not able to scroll down to see other interactions until the user goes to that section.

[2022-02-15 16:47] fev4 opened #330 "Allow aggregation of click maps"
Currently click maps are only possible for each recording. It would be useful to be able to see aggregated data for each X number of selected recordings.

[2022-02-15 17:03] urbany commented on #321
Edit now the erro is different:

[2022-02-15 21:43] estradino commented on #321
@urbany Please make sure to use/update both tracker and tracker-assist `v3.5.1`.

[2022-02-15 21:43] #321 closed

[2022-02-16 05:30] AntonOfTheWoods commented on #304
`cert-manager` can be installed for providing certs for a namespace (`issuer`) or cluster-wide (`cluster-issuer`).

Looking at it, it looks like there are openresty plugins to do this though, so it might be better to go that route. I personally don't care whether it is openresty or cert-manager managing my LE certs anyway. Manually doing LE certs on kubernetes seems a little strange in 2022 though

[2022-02-16 05:34] AntonOfTheWoods opened #332 "Allow for simple changing of the default namespaces (db, app) and cluster name (cluster.local)"
In some setups these names will already be used (namespaces) or not the name of the cluster (cluster.local). It would be good to be able to personalise these for the helm charts without having to resort to sed.

These values seem to be hardcoded in quite a few places (configurable in many places but hard-coded in some).

[2022-02-16 07:54] rjshrjndrn commented on #304
@AntonOfTheWoods you're correct. Manual certificates are Lil old. But,  if you can come up something which solves above concern,  we'll be more than happy to merge the PR

I think we should go for a plug in approach. Means,  we'll habr addional pluggins which will add functionalities

It Can be folder with additional yamls or helm charts. If someone needs a functionality,  just apply that. So that

[2022-02-16 08:00] AntonOfTheWoods commented on #304
Thanks for the reply @rjshrjndrn . I posted on slack but maybe you could put here whether you definitely can't use the `ingress-nginx` helm chart. I understand you need to use the `openresty` docker image but it's not 100% clear to me that that couldn't be used with the `ingress-nginx` chart, which would give a whole lot of stuff for free, like `hostNetwork`, `cert-manager`, etc.

[2022-02-16 08:03] laurenz-glueck commented on #304
Sounds good to me! Using a plugin might be the easiest solution.
Maybe this one would work: https://github.com/auto-ssl/lua-resty-auto-ssl

[2022-02-16 08:07] AntonOfTheWoods commented on #304
The helm charts are not very clear to me yet but it looks as though everything that could be achieved with the current custom `nginx-ingress` chart could be achieved with the upstream `ingress-nginx` chart. The upstream chart also allows for a lot more and would allow for much more seamless integration with lots of other products. Or am I completely missing the plot?

[2022-02-16 08:16] rjshrjndrn commented on #304
Upstream ingress in cluster wide resource. What if you're using trafik as your ingress provider. And how will you scale horizontally? The idea was to have a simple routing mechanism, which can be plugged anywhere. Even with other ingress solutions like ALB from eks

[2022-02-16 08:27] rjshrjndrn commented on #304
Plugin in the sense not application pluggins. Kubernetes pluggins. We shouldn't have to change the core apps for additional functionality. Like how service mesh is. We don't have to change our apps for http metrics or mutual tls.
For eg: https://github.com/rjshrjndrn/certbot-autoupdater

If you use this project you'll get ssl auto renewal without touching any other apps.

[2022-02-16 08:40] AntonOfTheWoods commented on #304
Thanks @rjshrjndrn , so I can use that autoupdater with an `ingress-nginx` that is running on a `hostNetwork`?

[2022-02-16 11:06] rjshrjndrn commented on #304
This is a quick hack put together for one of my projects. In the `autto-updater`, the cronjob has daemonset hardcoded. That's why the Readme has `daemonset`. if we change that to something configurable like an environment variable, then we can use that with any Kind. @AntonOfTheWoods

[2022-02-16 11:15] rjshrjndrn commented on #325
Hi @Romanchuk, From 1.4.0, `openreplay/scripts/helm` folder is deprecated as we moved to native helm implementation.
We're doing the installation from `openrepalay/scripts/helmcharts`. Can you please check the `vars.yaml` from there? And for debugging it'll more easy if you can join our community slack, which is `openreplay.slack.com`

[2022-02-16 11:19] rjshrjndrn commented on #11
Closing this issue as we moved Kubernetes native as all cloud-native projects. We've one-touch installations for all major cloud providers. Please check this [doc](https://docs.openreplay.com/deployment)

[2022-02-16 11:19] #11 closed

[2022-02-16 11:50] AntonOfTheWoods commented on #304
Ok, forget everything I just said... I haven't done any kube in many months and have had my brain mushed by react/typescript for the past few months! And thinking about kube ingresses always takes my brain a couple of hours to warm up before I understand it again :-D.

@rjshrjndrn , if I *already* have working `ingress-nginx` and `cert-manager` instances installed as cluster resources, is there an

[2022-02-16 12:02] rjshrjndrn commented on #304
The nginx which we're using have some custom configs, for example
- buffer size

https://github.com/openreplay/openreplay/blob/cb41d9134d6add1a7b7e028cb29218c85e9091f4/scripts/helmcharts/openreplay/charts/nginx-ingress/templates/configMap.yaml#L172

- header manipulation

https://github.com/openreplay/openreplay/blob/cb41d9134d6add1a7b7e028cb29218c85e9091f4/scripts/helmcharts/openreplay/charts/ngi

[2022-02-16 12:05] AntonOfTheWoods commented on #304
Basically, I have just configured the following:

[code]
And having a working controller and cert-manager `ClusterIssuer` called `letsencrypt-prod`, means I get my cert. After, of course, I sed replaced the hard-coded `cluster.local` cluster domain! :-D.

[2022-02-16 12:11] AntonOfTheWoods commented on #304
https://github.com/openreplay/openreplay/blob/cb41d9134d6add1a7b7e028cb29218c85e9091f4/scripts/helmcharts/openreplay/charts/nginx-ingress/templates/configMap.yaml#L172

Is there any way of easily testing all the functionality?

While the headers will need to be monitored, I'm pretty sure we can get this working without many issues. And we won't know unless we try, right?

But from what I was able

[2022-02-16 12:14] AntonOfTheWoods commented on #304
@laurenz-glueck , do you have an install with an ingress controller and cert-manager you could take the above config out for a spin with?

[2022-02-16 12:16] AntonOfTheWoods commented on #332
Sure @rjshrjndrn , if I end up moving past the test-drive phase I'll no doubt be submitting quite a few PRs :-). Can we leave this open for the moment?

[2022-02-16 12:45] rjshrjndrn commented on #304
Ah no, unfortunately.

Your configuration looks correct and will work fine.

But migrating current nginx to ingress, I don't think that's doable, because
 for example,
In advanced use cases you need ALB from eks(If you're using EKS), and if you want to manage that(ALB) in Kubernetes, you need to install ALB controller, and use it as an ingress. which will clash with Nginx ingress.
In another scena

[2022-02-16 14:46] AntonOfTheWoods commented on #304
@rjshrjndrn , @laurenz-glueck works for you?

But I'm not sure I follow. You say I am talking about a specific configuration but you are also talking about advanced usecases for a particular provider :-).

The current solution is to manually connect to the host machine that the domain name points to, take down anything listening on port 80, run a script, put back up anything you had there, copy th

[2022-02-16 15:04] rjshrjndrn commented on #304
:smile:  Sorry, I  was talking about millions of sessions(production use case), and it's easier to handle if we own the proxy. Means inject plugins and add change worker connections, scaling ( vertically and horizontally) so on and so forth.

Regarding the alb

ALB -> nginx-service -> apps

Same as you did with nginx-ingress, here ALB replaced Nginx-ingress.

In that case, I don't know how will we

[2022-02-16 15:44] AntonOfTheWoods commented on #304
We seem to be talking at cross-purposes. Many people will have different needs and requirements. I won't need to think about thousands of TPS for a long time... And I'm sure many others won't either. I am not talking about creating something that everyone *must* use. I am not even talking about something that is necessarily intended for you to use for the production SAAS offering... I am just sugg

[2022-02-16 16:32] rjshrjndrn commented on #304
Yes, for ease of use, the most sensible thing to do is proxy it via the ingress which you already have, which will handle the SSL offloading and cert rotations.
I think, you already got the solution in that way: https://github.com/openreplay/openreplay/issues/304#issuecomment-1041420410

[2022-02-16 18:25] uristrauss5 opened #337 "Add a circle around the cursor so mouse movement is easier to track and mark the clicks on elements"
It's not clear when a user clicks on an element. For example, when there is a click rage, you can't actually see the user rage clicking on the button.

[user clicks.pdf](https://github.com/openreplay/openreplay/files/8082490/user.clicks.pdf)

[2022-02-16 19:04] laurenz-glueck commented on #304
@rjshrjndrn I still would like to implement some automatic Let’s Encrypt renewal handling for people like me that are not using OpenReplay in an existing k8s cluster and just installed it on a normal VM.

What would you recommend would be the best solution for this use case?

[2022-02-16 19:14] ro-savage commented on #11
@rjshrjndrn @estradino - This means you won't be supporting Heroku and other PaaS?

Or is the Kubernetes deployment supposed to work with Heroku? As someone who has been on heroku for 3 years - I have no idea from the docs how this would be done?

[2022-02-16 21:49] rjshrjndrn commented on #304
@laurenz-glueck To be frank, I really don't know what's the optimal solution because of the wide range of applications that is created on top of Kubernetes. There are a lot of options.

If you please it'll be ideal to create some kind of addon that will work on top of the current project without making any changes.

For that, you can use certbot, as its not a shared cluster. But I don't think plai

[2022-02-16 22:49] AntonOfTheWoods commented on #304
From the above conversation, the only real argument against using the solution I suggest appears to be that it might have performance implications for very high performance situations. Are you going to be trying to support many, many thousands of TPS on your simple VM? If not, nginx ingress and cert-manager are likely by far the most used and best supported options for the general case, and instal

[2022-02-17 00:22] AntonOfTheWoods opened #339 "Consider offline support"
As PWAs and other offline-first formats (electron, etc.) slowly become more prevalent, it would be useful to be able to support offline(-first) usecases. There seem to be various ways one might go about this, possibly with varying levels of risk/added complexity.

One way might be to simply go through a local (probably indexeddb-based) event queue and always push from the event queue to the web en

[2022-02-17 08:27] rjshrjndrn commented on #304
Hi @AntonOfTheWoods

We use the same repo for both High Load (Not single VM, We use Kube cluster + the helm charts + shared filesystem layer etc) and single node installation. So that all can be on the same page. So using nginx-ingress-controller for community and another method for high volume traffic will be a little problematic right?

Here the community is getting all performance improvement,

[2022-02-17 08:46] Romanchuk commented on #325
@rjshrjndrn Thanks, we missed ```/helm``` folder is deprecated. Installing via ```/helmcharts``` worked well

[2022-02-17 08:46] #325 closed

[2022-02-17 12:55] AntonOfTheWoods commented on #304
@rjshrjndrn kubernetes is a bit of a beast, particularly around ingress and the fundamental differences that come about when you are doing your own ingress networking and when you are relying on a cloud provider (eks & co.). As a huge proportion of users are relying on external providers to set up their networking (and run their kube too), I think iit is going to be (practically) impossible to hav

[2022-02-17 13:06] AntonOfTheWoods commented on #332
As a bit of a note-to-self and temporary hack for others who might want this while waiting for a proper fix, it *looks* like, if you are using a fairly standard `coredns` setup then the following is sufficient to get most functionality working without making any code changes to openreplay.

Change your configmap with the following (or equivalent for your setup):

[code]
Or as overrides for the ups

[2022-02-17 13:45] rjshrjndrn commented on #304
Hi @AntonOfTheWoods
That sounds great. Great idea.

After giving it a bit of cool-off time and some internal discussion, we want to give the native ingress controller a try. But unfortunately, we don't have enough time for that. Would you guys be able to collaborate together @laurenz-glueck @AntonOfTheWoods ? if so, I can create another issue and ping you guys over there?

Regarding the community

[2022-02-17 14:51] AntonOfTheWoods commented on #304
Absolutely!

Awesome!

[2022-02-18 10:50] rjshrjndrn opened #343 "[Proposal] Kubernetes native ingress controller"
Now we're using Nginx as our ingress endpoint. It's not a Kubernetes native ingress-controller but a simple deployment. This issue is to evaluate the use of ingress-controller as an alternative.
Reasons:
- Operational easiness (Like rotate certificates, easiness of adding paths)

Theoretically, there shouldn't be any changes regarding the functionalities.

We're using some custom maps to prioritiz

[2022-02-18 10:52] rjshrjndrn commented on #304
@laurenz-glueck @AntonOfTheWoods I've created the Issue for the native ingress controller. Feel free to add more details as you see fit.
https://github.com/openreplay/openreplay/issues/343

@AntonOfTheWoods Need any help with the discussions for the cert update how to?

[2022-02-18 13:32] AntonOfTheWoods commented on #304
I have to try and write a conference paper this weekend but will be able to try and put something together early next week!

[2022-02-21 01:02] kwesterfeld2 commented on #214
I experienced the exact same issue.  The Assist.js Peer assignment is flagged by vite and won't compile.

[2022-02-22 01:13] AntonOfTheWoods commented on #343
Hi @rjshrjndrn , I see the are quite a few `{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}` type conditions in the templates. This makes them extremely busy and harder to reason about and evolve. Is it really a business requirement to support unsupported, obsolete and potentially insecure versions of kubernetes (so less than 1.14 at least)? What are the minimum versi

[2022-02-22 01:19] AntonOfTheWoods commented on #343
@rjshrjndrn , on a feature-related note, I see two possibly appropriate approaches to pushing the current config to kube ingresses - single ingress per service (closest to what there is now) and multi  ingress per service. I have never used the offerings of a major cloud provider so I don't know how they manage loadbalancers and particularly associated costs.

While it might be cleaner and easier

[2022-02-22 02:15] AntonOfTheWoods commented on #343
Actually, this might be a great opportunity to create a few readmes and delete a whole lot of stuff that is just there from copy/pastes. I realise that this is going to require some work on your end but if you want  external contributors then there needs to be some way to avoid contributors spending many hours/days working out what is just there because of copy/paste and what is actually required.

[2022-02-22 07:52] rjshrjndrn commented on #343
Hey @AntonOfTheWoods I'd try to clarify the rationale

For fresh helm charts we use `helm create chartname` command, which will generate idiomatic charts. But I didn't get your point of `extremely busy and harder to reason about and evolve`.  And yeah, as  I told it's not a buisiness need, but helm boilerplate.

Till v1.3.6 we were using ansible and helm as the templating and installation method f

[2022-02-22 07:54] rjshrjndrn commented on #343
I think, it'll be great to split that and use the ingress.yaml in the helmcharts.

[2022-02-22 11:29] AntonOfTheWoods commented on #343
Thanks @rjshrjndrn ! That is quite a bit clearer now. It looks like most of the charts in `helmcharts/databases` have been copied from `bitnami`. Is there a particular reason for having these copied in, rather than using the upstream versions and referencing  them as classic helm dependencies?

[2022-02-22 12:09] rjshrjndrn commented on #343
Bitnami is a platform as a service(PAAS) provider. We use Bitnami charts because those are more security-hardened and maintained, as Bitnami is using the same in production for them. And all of the charts which we use don't have upstream charts.
You can find more about Bitnami charts in https://bitnami.com/application-catalog

[2022-02-22 12:29] AntonOfTheWoods commented on #343
@rjshrjndrn I meant why did you copy them in manually and put them in git, rather than using helm to do this? I know and like the bitnami charts - I use their postgres, Kafka, zookeeper charts in my own project. I use helm to manage these deps though, rather than manually copying them in and putting them in git. Have you modified their charts? (By "upstream", I was meaning Bitnami :-) )

[2022-02-22 13:30] rjshrjndrn commented on #343
Ah.. Got it. Nice catch..
We didn't have a central chart `database` prior to 1.4.0. All were standalone charts. All those chars were downloaded because of that. When migrated, we simply copied over those charts. All the overrides are done via `vars.yaml` I think it's better to add as a dependency as we have a central chart.

[2022-02-22 16:10] Amitabitbul opened #344 "Allow captureIFrames by default"
Hi guys,
I'm not using the npm package for several reasons, I'm using the openreplay.js and adding the initialization script like (google tags) in my HTML page.

For example:

<script>
(function(A,s,a,y,e,r){
  r=window.OpenReplay=[s,r,e,[y-1]];
  s=document.createElement('script');s.src=a;s.async=!A;
  document.getElementsByTagName('head')[0].appendChild(s);
  r.start=function(v){r.push([0])};

[2022-02-22 16:13] estradino commented on #344
Hry @Amitabitbul,
Unfortunately, you can enable `captureIFrames` only when using the NPM package. There's an ongoing work internally to expose all options through the script too.
Thanks.

[2022-02-22 16:14] Amitabitbul commented on #344
Ohh,
Thanks for the quick reply!!

Can I build the openreplay.js by myself? so I can modify it?

[2022-02-24 02:36] AntonOfTheWoods commented on #343
@rjshrjndrn can you confirm that the main reason for having separate charts for `app` and `db` is to have the resources in different namespaces, and that the reason for that is primarily to reduce the attack surface on the dbs (and vice versa I suppose)?

[2022-02-24 08:03] rjshrjndrn commented on #343
Hi,
The major reason was to have some kind of logical separation b/w these two, which will give us some advantages as you noted above like security, separation of concerns, etc.

[2022-02-27 17:03] Amitabitbul opened #354 "Expose all NPM options to snippet"
Hey guys,

I don't know why but for some reason, the library doesn't capture the iframe.
The iframe wasn't placed on the root document at first, it will be dynamically injected into the document - it depends on the user's actions.

other libraries can capture it easily, I'm sure that it's a small thing/bug that needs to be fixed to allow it here.

@estradino suggested me to open the issue here :)

[2022-02-28 07:16] Amitabitbul commented on #354
UPDATE:
I played with it a little bit longer, and I find out that it just did not listen to the iframe events correctly.
I haven't fixed it, and for now, I don't know how to.

In my case, I'm injecting an empty HTML page at first and then changing its content, so nothing was captured not the content, and not the events inside (the mouse is out of this area, and it is marked as inactivity in your p

[2022-02-28 10:19] domnantas commented on #214
`patch-package` is a workaround. The problem in openreplay code still exists, so I'd say this issue should remain open.

[2022-02-28 10:22] estradino commented on #354
Hey @Amitabitbul,
We'll be exposing all NPM options in the snippet. ETA: March 11th with the next release.

[2022-03-03 08:54] yorrd opened #357 "Sessions not replayed correctly, white screen"
A correctly rendered website is recorded, then the replay doesn't show the page's complete contents though.

In the screenshot you see me inspecting the DOM of the replay interface. Our custom element `main-element` is rendered, but its contents do not appear. This behavior doesn't happen on the real site and other session replay solutions capture it correctly. On my red marking, there is DOM miss

[2022-03-03 09:02] estradino commented on #357
@yorrd Can you tell us more about your frontend stack? Do you have ShadowDOM? Are you using iFrames?

[2022-03-03 09:05] yorrd commented on #357
yes, we do have shadow dom. We're using an extension on top of `lit-element` for this specific page. There are no iframes. Page load times are pretty slow since it's a dev environment and we haven't optimized yet.

[2022-03-03 09:09] yorrd commented on #357
The shadow DOM seems to be rendered correctly though, even the style is attached within the respective document fragment. To me it seems like the initial render happened but then rerenders of the webcomponent which might happen a second later were not taken into account

[2022-03-07 11:42] yorrd commented on #357
@PandaCodes would it help you if I provided you with example code that produces this behavior? I'd really love to get this in the release in March which afaik you're planning for the 11th. Let me know if I can do anything. Not trying to impose on your timeline, we're just under huge pressure to find a better solution than logrocket and openreplay might be it... :)

[2022-03-07 11:47] estradino commented on #357
@yorrd yes please provide us with the example. That'd help speed up resolution.

[2022-03-07 14:50] domnantas commented on #214
If I understand correctly, the Peer.js issue should be fixed in the new version: https://github.com/peers/peerjs/issues/630#issuecomment-1046151278

We could use `peerjs@beta` and remove the `Peer = Peer.default || Peer` hack

[2022-03-07 20:11] estradino commented on #259
Fixed in OpenReplay `v1.5.3`.

[2022-03-07 20:11] #259 closed

[2022-03-07 20:27] estradino commented on #354
All NPM options exposed in JS snippet in tracker `v3.5.3`.

[2022-03-07 20:27] #354 closed

[2022-03-07 20:31] Amitabitbul commented on #354
You are awesome!
Thanks

[2022-03-08 11:36] yorrd commented on #357
@estradino would you please contact me via mail @ kai@adornis.de? I'd wanna schedule a video call to show quickly or if that doesn't work out send you some confidential information about access to one of the projects so you can see the code as well. Does that work for you?

[2022-03-12 15:17] Wangor opened #378 "Incredible bad performance with kendoui autocomplete"
If you select an entry of a kendo UI autocomplete (jquery) it blocks the collapse for a moment completely... it does not happen with competitors like logrocket...

[2022-03-12 15:22] estradino commented on #378
@Wangor could you look at this [thread](https://github.com/openreplay/openreplay/issues/293#issuecomment-1031851006)? Our community have isolated a similar issue with Angular.

[2022-03-14 14:20] udisun opened #379 "Can't Finish Installation using the "Deploy to AWS" instructions"
After running:
`DOMAIN_NAME=openreplay.banana.com bash init.sh`

The last print is:

[code]

trying to run:
`export POD_NAME=$(kubectl get pods --namespace app -l "app.kubernetes.io/name=openreplay,app.kubernetes.io/instance=openreplay" -o jsonpath="{.items[0].metadata.name}")`

is throwing an error:

[code]

It looks like the instructions are incorrect

[2022-03-16 16:23] rjshrjndrn commented on #379
Hi @udisun Thank you for this issue. I'll update the code accordingly.

[2022-03-17 21:25] wgottschalk opened #380 "Issue when deploying to AWS"
I'm following the instructions here:

When I run the following command:
`ubuntu@ip-XXX-XX-XX-XX:~/openreplay/scripts/helmcharts$ sudo DOMAIN_NAME=openreplay.xxxxxxxx.com bash init.sh`

I get this output:

[code]

I'm not sure what to do to resolve the error

[2022-03-23 02:59] hatf0 opened #387 "Support for self-hosted instances of Sentry"
I happened to notice that the Sentry integration only makes requests to the Sentry-managed instance. Is there any way that we could have that URL specifiable by users for self-hosted instances of Sentry? I'm trying to self-host as much as I can.

[2022-03-24 12:20] fev4 commented on #357
We're experiencing this same behavior in our react-app. I'm also open to help debug this issue, you can find me in the slack channel as one possible method of contact.

[2022-03-24 12:26] fev4 commented on #309
Same exact situation. Added more details here #357

[2022-03-24 13:57] Revirtuosaur opened #388 "[Proposal] Adding LDAP authentication"
Hi everyone!

We're using LDAP in our architecture to sign in on our internal services, it'd be nice to have a way to configure LDAP authentication in Openreplay. In the same fashion as the different fields existing in `/openreplay/scripts/helmcharts/vars.yaml`, having the necessary LDAP fields (URL, baseDN, request...) to configure it in the same file would be pretty handy!

[2022-03-29 07:09] ricky11 commented on #236
Has this issue been resolved, the problem happens to me, even when no new deploys have been made. I noticed it happen after i rename the project, although i doubt this has any coincidence, it could be a openreplay caching issue, i.e. your cache is empty and did not fetch the new resource?

[2022-03-29 07:13] ricky11 commented on #337
Yes upvote this. Also a lot of the times the sidebar does not show the event Clicked.  Show a blue circle behind the pointer when something is clicked would be a good ux improvement.

[2022-03-29 10:26] bbkgh opened #391 "[Question] Repopulate frontend bucket in s3"
Hi. We accidentally deleted frontend bucket in s3(minio).Is there any command/way to copy/repopulate  frontend static files to it's bucket.
thanks

[2022-03-30 09:05] ricky11 opened #395 "Clicking on a session should mark it as SEEN"
Steps to reproduced
1) click on session to view
2) click <-Back button on top left
3) Session still shows as unseen

Only when you refresh the browser only then is the session marked as viewed.

Creates a confusing when you have so many sessions as to which session to view next.
Also causes the user to constantly refresh the page in order to see the latest unseen sessions.

[2022-03-30 09:08] ricky11 opened #396 "Improve move flow frames"
Currently the mouse flow movements display at a very poor refresh rate. (when viewing a user sessions)

Competitors such as LR and others, show a much more smooth mouseflow with a higher refresh rate.

The current mouse movement make it hard to decipher the users behavior as a lot of interactions are missed.

[2022-03-30 09:09] ricky11 opened #397 "Allow for scrubbing of timeline"
Currently the timeline session reply cannot be scrubbed with the mouse, it can only be clicked on.
It would be great if the timeline allow scrubbing and realtime viewing of the scrub

[2022-03-30 10:01] ricky11 opened #398 "Button Click events are not displayed in User Events"
When a user clicks a button or link, no event is recorded.

We can see in the User events section (in the right side menu) There is a list of User events such as
Visited
Time to Render
Visually Complete
etc.
But there is not button click.

We can see the user has clicked the button, however it is not registered in the user events.

Also, it would be a big UX improvement to highlight the mouse when

[2022-03-30 10:38] ricky11 opened #399 "[Feature] Allow to delete sessions from the dashbaord"
Some sessions are bots/spam hence would like the ability to delete these sessions from the Openreplay dashboard.

[2022-03-30 15:40] estradino commented on #344
Fixed in tracker `v3.5.4`.

[2022-03-30 15:40] #344 closed

[2022-03-30 15:42] estradino commented on #258
Same as #354. All NPM options exposed in JS snippet in tracker v3.5.3.

[2022-03-30 15:42] #258 closed

[2022-03-30 19:27] estradino commented on #151
We've implemented pagination in OpenReplay `v1.5.4`. I believe this solves the issue you faced. Please reopen if necessary.

[2022-03-30 19:27] #151 closed

[2022-03-30 19:28] estradino commented on #152
We've added several operators in OpenReplay `v1.5.4`.

[2022-03-30 19:28] #152 closed

[2022-03-30 22:15] rafde opened #401 "MUI select inputs aren't recorded"
macOS Big Sur
Chrome 100.0.4896.60
Next.js 12.1.1
@mui/material 5.5.2
@openreplay/tracker 3.5.4

[code]

The following select is not recorded when I pick any of the options

[code]

![image](https://user-images.githubusercontent.com/833429/160939513-717ba24c-c2c6-4b6e-a956-5f8ab4592631.png)

I am not sure if this is an issue because I am using https://mui.com/components/selects/#native-select and

[2022-04-01 14:47] Filipeue opened #402 "Ability to serve OpenReplay script from deployed OpenReplay instance"
It would be nice to be able to serve OpenReplay script from deployed OpenReplay instance. If we server script from our own custom domain it is less likely it gets blocked by anti-trackers.

[2022-04-02 08:11] bobsingor opened #404 "Scroll position on non body elements are not properly being transmitted on initiation of assist"
I came across an issue when I'm initiating the assist live feature.

Notice on the screenshots below that the scroll position is not correctly.

The screen that I'm assisting looks like this:

<img width="1347" alt="Screenshot 2022-04-02 at 11 07 40" src="https://user-images.githubusercontent.com/7645917/161373595-e6fd6175-15ab-4194-84b9-c9de90aaab45.png">

Inside OpenReplay the screen looks like

[2022-04-02 12:56] yorrd commented on #357
@estradino thank you, this is fixed in the latest release of the tracker combined with the cloud solution (which I presume is running the latest version).

There is another bug with scrolling in non-body containers which someone else has already posted. I believe we can close this. Correct me if wrong.

[2022-04-02 12:56] #357 closed

[2022-04-08 09:37] rjshrjndrn commented on #379
This message is helm boilerplate. Removing this from the templates. You can follow along the SSL configuration in the documentaion.
https://docs.openreplay.com/deployment/deploy-aws#configuretls/ssl

[2022-04-08 09:37] #379 closed

[2022-04-10 14:35] PandaCodes commented on #404
@bobsingor , could you try with the newest tracker@3.5.5 version?

[2022-04-10 14:40] PandaCodes commented on #401
Hi @rafde . Change of <select> elements was not captured till the latest `tracker@3.5.5`. Could you try it, please?
The ui animation of the selection process will be probably still missing, however.

[2022-04-11 09:20] Filipeue opened #414 "Scroll to the last replayed session in the list"
In OpenReplay app (v1.4.0), I am looking at list of all recorder sessions ("/sessions"). I search and setup filter to get all the sessions I want to see (about 100 sessions).
I would be nice if:
1. I didn't need to click "Load more" => infinite scroll would be better.
2. Button for open replay was actually a link, so I can open multiple replays in a new tab to watch them all later.
3. Once I open

[2022-04-11 11:48] zsolt-dev opened #415 "Cannot upgrade deployment while following the instructions"
Hello,

I was following these instructions:
https://docs.openreplay.com/deployment/upgrade

I am on 1.4, so I was following the: "Upgrade Backend (from v1.4.0 or higher)"

But I got this error:

[code]

Any idea what may be wrong?

Thank you

[2022-04-11 11:53] zsolt-dev opened #416 "Renew letsencrypt cert"
Hello,

I googled everywhere but cannot seem to find the way to renew ssl certificates for open replay. I use the letsecrypt / certbot.

My certificate is expiring in few days, so I hope I will find the solution soon.

I really wish I could use the paid version of the open replay and not deal with the server, upgrades etc. But the paid version does not support custom domain name.

thank you

[2022-04-11 11:58] rjshrjndrn commented on #415
Hi @zsolt-dev,
Can you please once again on which version you're?
[code]
Can you please post the output for this command?

[2022-04-11 12:11] zsolt-dev commented on #415
Hi @rjshrjndrn

Thank you for looking into it, here is the result:

[code]

[2022-04-11 12:22] rjshrjndrn commented on #415
Hey @zsolt-dev, You can join our discord server for community interaction and get help faster.
https://discord.gg/58tvAKf7sS

Please find me there at 'Rajesh R'.

[2022-04-11 14:29] zsolt-dev commented on #415
Thank you @rjshrjndrn again for helping me on discord. You are great!

[2022-04-11 14:34] zsolt-dev commented on #416
The manual renew is done like this:

to delete the old certificate
[code]

And then create a new one:
[code]

About the automatic renewals, I was told its coming soon.

Thank you @rjshrjndrn.

[2022-04-11 16:32] Filipeue commented on #414
Hey @tahayk,
thanks for your reply, I have updated to latest version and:
1. I would still prefer infinite scrolling for sessions. I believe it would make scrolling trough sessions quicker.
2. Once I open replay and click back button (in app), scroll position would be same as it was before opening a replay.

Other points I have mentioned seems to be already resolved.
Great work and thanks!

[2022-04-11 16:44] estradino commented on #414
Sure @Filipeue. I've reopened the issue so we can work on it.

[2022-04-14 09:34] Filipeue opened #425 "Saved search + Funnels ignore some settings"
OpenReplay v1.5.4

When I and "falsy" values to sessions filter (e.g. step: "Click" - "on any", filter: "User" - "is undefined") and either save as funnel or save as saved search these settings are not saved.

Steps to reproduce:
From the "/sessions" page open filter, under Interactions and Click event, change "on" -> "on any", click Save search, give it name, click Create. Now the filter is alrea

[2022-04-14 09:40] Filipeue opened #426 "Add ability to remove saved search"

[2022-04-15 13:40] tahayk commented on #426
Hey @Filipeue
when you select a saved search, press the **update search** button, there you will find a delete button.

[2022-04-15 13:40] #426 closed

[2022-04-23 22:11] code-review-doctor opened #429 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/openreplay/openreplay/blob/7cc3f144279217860dccf664b8e7da56aa61c2ca/ee/connectors/db/writer.py#L39
https://github.com/openreplay/openreplay/blob/7cc3f144279217860dccf664b8e7da56aa61c2ca/api/chalicelib/core/sessions.py#L742

I found this issue automat

[2022-04-25 09:48] estradino commented on #429
Fixed in OpenReplay `v1.6.0`.

[2022-04-25 09:48] #429 closed

[2022-04-25 09:52] estradino commented on #425
Fixed in OpenReplay `v1.6.0`.

[2022-04-25 09:52] #425 closed

[2022-04-25 10:41] estradino commented on #404
Fixed in tracker `v3.5.5`.

[2022-04-25 10:41] #404 closed

[2022-04-25 10:42] estradino commented on #401
Fixed in tracker `v3.5.5`.

[2022-04-25 10:42] #401 closed

[2022-04-25 10:43] estradino commented on #397
Fixed in OpenReplay `v1.6.0`.

[2022-04-25 10:43] #397 closed

[2022-04-25 10:44] estradino commented on #395
Fixed in OpenReplay `v1.6.0`.

[2022-04-25 10:44] #395 closed

[2022-04-25 11:14] estradino commented on #337
Clicks are now animated in replayer. This improvement is available in OpenReplay `v1.6.0`.

[2022-04-25 11:14] #337 closed

[2022-04-25 11:25] estradino commented on #398
Only 'meaningful' clicks are displayed in the list of events, those that were made on `button`, `a`, `li`, `select` and `input`.

FYI, all user clicks are captured, even though they don't appear in the events list. In OpenReplay `v1.6.0` they are now animated in the replayer so you can see exactly what your users interacted with. Having said that, we kept the events list clean, by only showing `me

[2022-04-25 11:25] #398 closed

[2022-04-25 11:57] estradino commented on #236
You'll face this issue if you're CSS files don't have a hash (app.css instead of app-h6la93sk.css). Starting from OpenReplay `v1.6.0`, these stylesheets will be cleared from cache once a day, so recordings will look fine afterwards.

[2022-04-25 11:57] #236 closed

[2022-04-25 11:59] estradino commented on #284
Fixed in OpenReplay `v1.6.0`.

[2022-04-25 11:59] #284 closed

[2022-04-25 12:49] estradino commented on #317
Fixed in OpenReplay `v1.6.0`.

[2022-04-25 12:49] #317 closed

[2022-04-25 19:50] dajaffe opened #432 "No content being rendered in session player's iFrame"
I'm integrating Openreplay as a self-hosted option for a proof of concept evaluation before moving to an enterprise license / cloud hosted option. I've gotten Openreplay installed and recording sessions (hosted on an AWS instance), however the player is just a white screen.

I inspected the player itself, and I see the iFrame where the recording should be visible is entirely empty:

![image](https

[2022-04-25 19:56] estradino commented on #432
@dajaffe what version of the tracker are you using? Did you set the `captureIFrames` option to true?

[2022-04-25 19:59] dajaffe commented on #432
Tracker 3.5.9. Sorry, to clarify we don't have any iFrames in our app - I was referring to that iFrame embedded within the session player (I assume that's where our app should be rendering).

[2022-04-25 20:14] estradino commented on #432
Are you using a plain vanilla setup on AWS? Did you enable the S3 storage?

When you replay/open the recording, can you check your browser's inspector and see if there are any failing calls?

[2022-04-25 20:29] dajaffe commented on #432
So our AWS is managed by Terraform, but it ends up being fairly vanilla - just an xlarge.3 with multiple containers for various services and front ends. We do have S3 for other things in our ecosystem, however I don't recall doing anything with it while setting up Openreplay - I didn't see any callouts for that in the [deployment guide.](https://docs.openreplay.com/deployment/deploy-aws).

The onl

[2022-04-25 20:48] estradino commented on #432
That file request failed, which explains why you see an empty replay. Could you try setup the DNS and give it another try on a newly recorded session? If it still doesn't work, it would be easier to help you resolve this on our [Discord.](https://discord.openreplay.com)

[2022-04-25 20:51] dajaffe commented on #432
Ah okay - I assumed that request wasn't related to the visuals (I wasn't sure what /mobs/ was referring to). We're working on DNS setup this week, so I'll hit you guys up on Discord if we still have an issue. Just to make sure - is there anything S3 related needing configuration specific to Openreplay? Thanks for the quick responses!

[2022-04-25 21:03] estradino commented on #432
Sure. I'll close this for now, you can reopen it if necessary. Happy to help!

[2022-04-25 21:03] #432 closed

[2022-04-26 18:42] dajaffe commented on #432
Hey @estradino - just finished setting up our load balancer DNS and the rendering worked! Thanks for the help!

[2022-04-27 10:22] kalenmike commented on #399
To delete sessions is complicated and potentially risky. I agree that it would be extremely helpful to have the option to delete or at least archive sessions.

[2022-04-27 10:24] estradino commented on #399
Makes sense. The idea is to have a Vault is which you can add sessions for a longer period of time.

[2022-04-27 10:24] kalenmike commented on #183
It would be extremely helpful to have a way to manage sessions manually. By labeling and/or tagging sessions. For example we may have one person reviewing recordings and then assigning the ones that need action to the developers.

[2022-04-27 10:28] estradino commented on #183
We're working on that too. Ability to tag/annotate sessions and assign/chat with the rest of the rest.

[2022-04-29 17:19] karthik-js commented on #213
any progress on this? Would love to see if there is a flutter sdk.

[2022-04-29 17:24] estradino commented on #213
Not yet. We decided to push that to Q3.

[2022-04-29 17:37] sandstrom commented on #402
I'd argue embedding the script (via NPM package and bundle into your JS) is better.

[2022-04-29 17:40] sandstrom opened #437 "Relay or proxy data"
Sentry has pretty good relay/proxy product. Ready-made binaries plus a docker image.

Basically, it'll pull config from the account, via simple setup using some API key. So it's essentially zero config. You can set it up to scrub sensitive data, and have it forwarded to sentry cloud.

Great for avoiding adblockers, and also for internal / secure environments, or when you want to be in control over

[2022-04-30 11:21] bbkgh opened #439 "Docker image utilities:v1.6.0 not found: manifest unknown"
Hi. We are using `rg.fr-par.scw.cloud/foss/utilities:1.5.4`, for upgrading to 1.6.0, we changed this image's tag to 1.6.0 but it's seems that `rg.fr-par.scw.cloud/foss/utilities:v1.6.0` doesn't exists.

`Failed to pull image "rg.fr-par.scw.cloud/foss/utilities:v1.6.0": rpc error: code = Unknown desc = Error response from daemon: manifest for rg.fr-par.scw.cloud/foss/utilities:v1.6.0 not found: man

[2022-05-01 11:36] tahayk commented on #439
Hey @bbkgh
we removed utilities in `v1.6.0`

[2022-05-01 15:21] #439 closed

[2022-05-01 16:48] justinforlenza commented on #387
+1

This would be an excellent add for us who're selfhosting

[2022-05-02 03:07] carsso commented on #402
While waiting for an official solution, the way I did it (the ugly way, just to skip anti-trackers), I proxified static.openreplay.com through nginx on OpenReplay instance.

It works only if you are in >= 1.6.0 because it requires nginx-ingress.

Put  that in a static-latest.yaml file
[code]
Change `openreplay.mycompany.com` (2 times) by your domain
Then run `kubectl apply -f static-latest.yaml`

[2022-05-02 11:01] Angrigo opened #440 "Is there a maximum session duration, size or length?"
Using session player watching a long session ~2h it breaks after about 10 min

Is there a configuration file where the size of the session is limited/fixed or it's just a bug?

[2022-05-02 11:06] estradino commented on #440
The session max length is 2 hours. What version of the tracker and backend are you running?

[2022-05-02 12:27] Angrigo commented on #440
1.6.0

[2022-05-02 14:12] estradino commented on #440
What about the tracker?

[2022-05-02 14:18] Angrigo commented on #440
3.5.10

[2022-05-02 14:29] estradino commented on #440
If you open your browser inspector, do you see any errors in console once your reach the 10min in your replay?

[2022-05-02 14:51] Angrigo commented on #440
Nothing in the console. it stops exactly at minute 8

[2022-05-02 14:59] estradino commented on #440
Does your web application have iframes?

[2022-05-02 15:17] Angrigo commented on #440
Not at all! The thing I suspect is the user having two tabs open or one tab and one pwa in standalone mode open and recording is only one.

[2022-05-03 15:29] tahayk commented on #203
This was optimised in `v1.6.0`

[2022-05-03 15:29] #203 closed

[2022-05-06 15:12] #414 closed

[2022-05-06 15:13] shekarsiri commented on #414
Fixed in OpenReplay `v1.6.0`.

[2022-05-07 20:45] ananiasfilho opened #449 "Openreplay stop and cant restart it"
Hello, im on ubuntu 20.04 and using branch main.
Its second time the service stop and i have no logs to investigate.
I have tried restart services *./openreplay-cli -r all*, also restart VM and check if service back up, but no, its trying to getting up but fail.
I see some details
![image](https://user-images.githubusercontent.com/2917143/167271068-a38b5f21-3dbd-4fe2-a831-56d681ae8bd3.png)
and
ope

[2022-05-09 08:18] rjshrjndrn commented on #449
@ananiasfilho Hi, Thank you for opening the issue.
Which version of openreplay are you using?
Can you please
[code]
I want to check the image version.
One more thing, after you press `d` at the end, you'll see some evets, Please send that also.

[2022-05-11 14:57] Angrigo commented on #440
Update: i can see the cursor move but the ui is stuck. (after approx 10 minutes)

[2022-05-12 13:38] #449 closed

[2022-05-13 07:36] Angrigo opened #462 "Unwanted privacy astrerisks covering inputs in session replay"
Open Replay sdk configuration:
![image](https://user-images.githubusercontent.com/6270387/168234106-22c0884e-5bab-4561-8502-284d5491e517.png)

In the recording the result is
![image](https://user-images.githubusercontent.com/6270387/168234262-12f2cab0-fc84-455f-a950-f152c44dfb19.png)

I am using Material UI with React, the input looks like this

[code]

which is in html

[code]

[2022-05-13 09:51] nkumar736 opened #463 "Expand actions to more general ones"
List of actions right now are mostly around performance and errors.

It would be amazing to have more generic (and live) actions like session_started, rate of sessions, live errors, etc

[2022-05-16 09:40] samrakshak commented on #440
@Angrigo were you able to find what caused this issue? I am facing the same problem.

[2022-05-16 09:53] Angrigo commented on #440
Not yet, in cooperation with @estradino and the openreplay team, we are analyzing the pods logs.

[2022-05-16 14:15] rjshrjndrn commented on #402
@carsso Your solution is sound.
1. You don't have to maintain the JS, as it's proxied from upstream, and you'll always get fixes and perf improvements without any changes.
2. Because you're using caching, this is better performant.

What do you think ?

[2022-05-16 14:24] carsso commented on #402
@rjshrjndrn Yup 👍🏻  Feel free to integrate that in the helm config if you want :)
Maybe the thing to improve is the path (/static-latest). That part is up to you, I did not want to use something too generic in my workaround to avoid collisions with future updates.

[2022-05-19 08:03] FredrikZeiner opened #486 "Shadow DOM elements not rendered properly"
- Server version: v1.6.0
- Tracker version: 3.5.11
- Framework: Ionic 5, Angular 13
- Browser: Chrome v101.0.4951
- Computer: Mac OS X 10.15.7
- Screen: Desktop 1536 x 856

# Context
We have installed OpenReplay on an EC2 instance running behind an ALB. We've never used OpenReplay before, but we've used LogRocket. LogRocket rendered the same Shadow DOM elements just fine. The Ionic framework uses

[2022-05-19 12:01] vmarchaud commented on #236
@estradino I have a similar problem but i'm pretty i'm misunderstanding something:
I have an app built with React and using vite to build it, logically i get three files:
[code]
Since they have hashes in their name they change for each build, however i don't store previous version and hence previous are not accesible after each deploy.
In this case, i expect that recordings of old session will not

[2022-05-20 17:18] estradino commented on #304
Support of cert-manager has been implemented in OpenReplay `v1.6.0`.

[2022-05-20 17:18] #304 closed

[2022-05-22 10:59] alex-lehan-bloom opened #496 "OpenReplay no longer tracking sessions"
We have been using OpenReplay for a few months now. We haven't changed the code or configuration in several weeks but all of a sudden we stopped getting any recordings.

Our last recording is from 3 days ago (May 19). Is there any reason this may be happening?

[2022-05-22 11:16] estradino commented on #496
Are you self-hosting it? If so, have you checked if all services are running?

[2022-05-22 12:05] alex-lehan-bloom commented on #496
@estradino , thank you. That was exactly the issue. We were hosting & had run out of space.

[2022-05-22 12:05] #496 closed

[2022-05-24 07:12] yoyoys opened #500 "Illegal reassignment to import 'Peer'"
I've installed `@openreplay/tracker@^3.5.11` `@openreplay/tracker-assist@^3.5.11`

When I build project by Vite(rollup based), I got message below:
[code]

I think this code is incompatible with rollup... :(

--
related to #214

[2022-05-24 08:28] dankristensen opened #501 "Make it possible to control timeformat"
Currently sessions are always listed in am/pm timeformat.

It would be nice, if there could be a userpreference, where this could be controlled which timeformat the current user prefers.

Currently only the timezone can be configured. Maybe that one should also be based on the current user instead.

[2022-05-24 09:11] salavadi1987 commented on #501
@dankristensen to make sure, are you requesting for an option that lets you see the time stamp on sessions list in 12hrs(am/pm) or 24hrs format?

[2022-05-24 09:47] Angrigo commented on #440
@samrakshak
1. Add the below lines in openreplay/scripts/helmcharts/vars.yaml
[code]

2.   Run `cd openreplay/scripts/helmcharts && openreplay-cli -I`

[2022-05-24 12:01] samrakshak commented on #440
@Angrigo

which version are you using?
Because implementing this is giving me the same issue .. rather than installing it again I just edited the ender and http-replay deployment and restarted the pods.

[2022-05-24 13:21] dankristensen commented on #501
@salavadi1987 That is correct. I would like a setting under Preferences, where i can control my own Timeformat and Timezone.

This information should then be used in the sessions view

[2022-05-24 14:24] salavadi1987 commented on #501
@dankristensen Got it. Thanks for the input.

[2022-05-24 16:26] cborgia commented on #226
thanks @thundermiracle for providing examples, I too would like to see the team at @openreplay provide examples.

Not only for popular frameworks like nextjs, but with various use cases -with and without metaData or userID, tracking in  SSR, or via script or via GTM... with or without assist and or fetch plugins.

there are a lot of blog posts on [openreplay.com](https://openreplay.com/), but oddl

[2022-05-25 07:39] deleteman commented on #226
Hi @cborgia , we're definitely working on those examples, I'm personally writing them so any particular feature or setup/configuration you'd like to see covered, please feel free to suggest them and I'll work on them.

As for where these examples are, they won't be on the blog, they're being added directly into our docs, you can find them inside the [Tutorials](https://docs.openreplay.com/tutorial

[2022-05-25 11:43] terragady opened #505 "Values for input type date is not visible"
I have the newest tracker, working stack is react(ts).
In recording I am getting inputs without any value (there is a value in real life so it is a recording fault).

![image](https://user-images.githubusercontent.com/19210041/170253872-70b861c8-484c-4a0d-9abc-355934156add.png)

for now it happened only on type=date. Not sure if somewhere else.

Also there is some forced obscuring of address field

[2022-05-25 15:34] dipankarj opened #506 "Network status empty"
While going through the session replay, the status field is empty in Network Tab for all the calls. Is there something that needs to be added explicitly that I have missed?

![Capture](https://user-images.githubusercontent.com/67802606/170301036-064255cb-fdb8-40ef-ad20-4c5880859afa.JPG)

[2022-05-25 15:35] estradino commented on #506
What version of the tracker are you using?

[2022-05-25 23:58] ro-savage opened #511 "Community VS Enterprise data privacy"
On the self-hosted page it shows the following under only the Enterprise Edition:

Does this mean the community edition is sending user data back to OpenRelay's infrastructure?

What type of data is being sent? How is the data being used? Where is this mention in the privacy policy?

[2022-05-27 00:34] cborgia commented on #226
hi @[deleteman](https://github.com/deleteman) - glad to hear you are working on these. I would highly encourage you not just to write a entry in the docs using code snippets, but also create a repo and have a fully working clonable version; for example if i take your recently created nextjs snippets from your tutorial and add to a new nextjs app, I run into several issues

1) you did not export de

[2022-05-27 10:43] deleteman commented on #226
Thanks for the suggestions @cborgia , I definitely have the repos available, so I'll make sure to adapt the Next and Nuxt  tutorials accordingly.

Also, noted on the comments about the context provider, I'll look into adding an example with it as well.
Thanks again for the comments and keep them coming if you have more!

[2022-05-29 11:16] anton-white opened #517 "Question: How to search through custom event object?"
Hey guys,
is it possible to perform a search through the submitted custom event objects?
Let's say I'm sending a custom event with the following payload:
[code]
I would like to find sessions which contain specific `item_type` or `item_id`.
Please guide me to the docs if I missed something in them.

[2022-05-31 15:40] anton-white opened #520 "Browser crash"
Hi guys,
Sorry for posting an issue, your project looks very good and we were very optimistic about it.
Last weekend (2 days ago) I've deployed the OpenReplay integration to production.
It started great! Besides the unclear/unable to search through the custom event object, the tool works as expected.
But today (few hours ago) we started to receive reports from our clients that the browser tab gets

[2022-05-31 20:24] PandaCodes commented on #520
Hi @anton-white , thank you for reporting! Already looking into that.
P.S. that might be very helpful if you could share the app url and specify the page where that happened in PM in slack, if you have time.
Thanks again!

[2022-05-31 20:39] PandaCodes commented on #520
Can't capture this with `ng-bootstrap` or `popper.js` alone. Do you use the infinite lists by an accident?

[2022-05-31 21:02] PandaCodes commented on #506
Fixed here [here](https://github.com/openreplay/openreplay/commit/edddf87e5f959bd3c6b518d7570469b805270037)
Will be in the next delivery.
There is no way in fact to know the real status unless one watches requests directly (for example, with the `tracker-fetch` plugin), so these are just plug to say it was "successful".

[2022-05-31 21:02] PandaCodes commented on #506
Fixed [here](https://github.com/openreplay/openreplay/commit/edddf87e5f959bd3c6b518d7570469b805270037)
Will be in the next delivery.
There is no way in fact to know the real status unless one watches requests directly (for example, with the `tracker-fetch` plugin), so these are just plug to say it was "successful".

[2022-05-31 21:09] PandaCodes commented on #500
Hi, @yoyoys .
Yes, this is a known issue with the rollup. This weird line  actually fixes another issue where bundling breaks on webpack5...
This all originates from the `peerjs` library weird export strategies.

We'll get rid of it once. So far the temporary solution is to go to  the `node_modules/@openreplay/tracker-assist/lib/Assist.js` file and commit that line (`Peer = Peer.default || Peer;`)

[2022-06-01 09:46] Dimitriscs1567 opened #521 "Hide Victory Graph component"
Hi,

I am using victory to display some graphs to the user that contain sensitive data. Is there any way to hide some components completely from the session recording?

[2022-06-01 09:51] tahayk commented on #521
Hey @Dimitriscs1567
Did you try to use `data-openreplay-masked`, you can follow this [doc](https://docs.openreplay.com/installation/sanitize-data)

[2022-06-01 09:54] Dimitriscs1567 commented on #521
Hi @tahayk
I tried using data-openreplay-masked on the component but it does not work. It seems that data-openreplay-masked only masks texts and img.

[2022-06-01 10:46] anton-white commented on #520
Hi @PandaCodes,

The issue appears when user clicks on the dropdown trigger button.
Please try this component:
https://ng-bootstrap.github.io/#/components/dropdown/examples

We also use `matTooltip` directives on the wrapper element.
https://material.angular.io/components/tooltip/overview

Let me know if you need more details and I will try to provide them.

[2022-06-01 10:47] anton-white commented on #520
`popper.js` seems not involved, sorry for misleading

[2022-06-02 13:10] estradino commented on #520
@anton-white could you please try the solution proposed [here](https://github.com/openreplay/openreplay/issues/293#issuecomment-1031851006) and tell us if that helps?

[2022-06-02 16:42] PandaCodes commented on #521
Hi @Dimitriscs1567 .  Yes, the data-openreplay-masked attribute works with images and texts only. Currently there is no way to ignore parts of a document like HTML or SVG tags with children. That would be tricky, in fact, because the missing part might break the whole layout.

[2022-06-02 23:26] PandaCodes commented on #505
Hi, @terragady . What component do you use for thees inputs? If this is the custom one, it would be helpful if you could share its code.

[2022-06-03 07:47] cnf-blueware opened #522 "Network Sanitizer to filter unwanted network request"
Any similar feature with LogRocket's requestSanitizer
[requestSanitizer](https://docs.logrocket.com/reference/network#sanitize-a-network-request)

[2022-06-03 07:51] estradino commented on #522
You can use `sanitiser` as in [this Fetch example](https://docs.openreplay.com/plugins/fetch#options) to redact sensitive data from requests/responses.

[2022-06-03 08:07] terragady commented on #505
@PandaCodes this is just styled input with type=date

[2022-06-03 16:10] juansemprun opened #525 "srcset attribute of img tag is not saved"
Hello! 😊

- Openreplay v1.3.6
- Openreplay tracker v3.4.16

I have found that the **srcset** attribute of the **img** tag is not saved in the session replay, which causes that when the **img** tag does not have the **src** attribute but it has the **srcset** attribute the image does not appear in the session replay (it appears as if it is broken or doesn't exist).

Below a couple of screenshots of

[2022-06-06 08:44] Angrigo opened #526 "Sometimes sessions have white screen"
Some recorded sessions shows only white screen, I can see actions and mouse moving but the screen is completely white.
Maybe the UI is not renderding?

There are no errors in console.

[2022-06-06 09:17] tahayk commented on #526
@Angrigo
Is this happening to all sessions or only new sessions ?
can you please check in the console's network tab if there is any error ?

[2022-06-07 08:48] Dimitriscs1567 commented on #521
Hey @sylenien. We self host openreplay on Digital Ocean. Is it possible to deploy the hide-containers-rule branch there to test it?

[2022-06-08 08:19] sylenien commented on #521
Sorry for the delay, you can build the tracker by yourself and try to inject it there or in local(dev) env.
So far in my testings everything is ok, I'm waiting for @PandaCodes to be available to check and merge it

[2022-06-08 13:10] terragady commented on #505
working now on a different project but when I find which input is obscured I will paste it here :)

[2022-06-08 19:28] jm124y opened #533 "Migration to AWS RDS"
We currently have OpenReplay installed on AWS with EC2. We are storing recordings on S3 but we noticed the session information (e.g. events) are still storing on the local postgres database. We continue to fill up the local storage due to the scaling of the postgres database.

Would it be possible to write some sort of documentation for a migration strategy from local postgres database to AWS RDS?

[2022-06-08 23:43] marigbede opened #534 "Cant Install on Ubuntu 20"
Hello Guys,
I have been trying everything I know to get OpenReplay to install on Ubuntu Focal as directed by https://docs.openreplay.com/deployment/deploy-ubuntu and https://docs.openreplay.com/deployment/deploy-gcp. It keeps failing and restarting the server.

The log is attached. Am I forgetting something?

[op_install.txt](https://github.com/openreplay/openreplay/files/8865614/op_install.txt)

[2022-06-09 02:02] rjshrjndrn commented on #534
Hi @marigbede that's unfortunate.

Can you please try `DOMAIN_NAME=openreplay.mycompany.com bash -x init.sh`

Which will print with debug logs. Truncate all the passwords and paste the logs here.

[2022-06-09 10:07] marigbede commented on #534
Hi @rjshrjndrn. Thanks for picking this up so early. The terminal closes quite suddenly so the attached logs are the best I could do.

Here is my installation sequence
[code]

[op_install.txt](https://github.com/openreplay/openreplay/files/8869282/op_install.txt)
[syslog.txt](https://github.com/openreplay/openreplay/files/8869283/syslog.txt).

I was also able to use Hashicorp Packer to try and see

[2022-06-09 11:23] rjshrjndrn commented on #534
Issue was that, E2 instance type is burstable, and when the cpu work gets intensive, the instance will crash loop. Changed the type to `N2` and worked fine. Am I missing anything @marigbede ?

[2022-06-09 11:37] sylenien commented on #505
I'm gonna close this issue (since we fixed the date input bug) but don't hesitate to open(reopen) a new one or reach out to us in slack/discord if you will find weird input behavior again @terragady

[2022-06-09 11:37] #505 closed

[2022-06-09 17:49] rjshrjndrn commented on #534
Cool. Closing it now.. Feel free to open this if you add anything extra.

[2022-06-09 17:49] #534 closed

[2022-06-10 07:26] deleteman commented on #226
Closing this issue as all comments have been addressed. Please feel free to raise new ones if you find details lacking in the documentation.

[2022-06-10 07:26] #226 closed

[2022-06-11 16:11] dajaffe opened #538 "One user spamming "Uncaught Error: WebWorker: writer not initialised." errors"
Our application recently spammed our Bugsnag with 500 individual errors over 3 hours for a specific user (located in India) with the following:

![image](https://user-images.githubusercontent.com/12042998/173195400-c01cab85-cc45-4a64-b408-01a35a00f520.png)

We didn't receive any reports from that user around the application erroring out. This appears to come from here:
https://github.com/openrepla

[2022-06-13 14:42] sylenien commented on #538
We think it could be a bot (with weird headless chrome engine that have bugged/not working webworker implementation for example?), do you have any logs that could show its a real human? @dajaffe

Its just a first theory rn, we are looking into that and trying to see what could be happening here.

[2022-06-13 20:14] dajaffe commented on #538
@sylenien  Yep, real human. Our app is guarded behind Google SSO, so no possibility of bots.

[2022-06-14 08:37] sylenien commented on #538
Thanks for the info, trying to replicate it rn currently

[2022-06-14 09:00] sylenien commented on #526
Hi @Angrigo can you give a little bit more info?
Is it self hosted or cloud, what versions, etc.
I'm already looking into similar issue and there is a chance that you have the same one. I've already determined the source but still need more data to test it and work for a fix

[2022-06-14 09:45] Shooshte opened #541 "Session replays not showing CSS"
Hi,

Most recorded session for me only show basic markup without loaded styles:
![Screenshot 2022-06-14 at 11 43 15](https://user-images.githubusercontent.com/11058850/173547662-cda64715-9863-411a-ad00-30a18c22a5a8.png)

Don't really know how to debug this or provide more info, sorry.

[2022-06-14 09:46] Shooshte commented on #541
There is a lot of 401 errors in the console about missing resources, since this is a recording of a development server which locked behind a VPN restriction.

[2022-06-14 12:02] estradino commented on #541
Hey @Shooshte,
Resources (css, fonts and icons) are restricted and therefore they cannot be cached by OpenReplay and used in session replay. Is there a possibility you could copy them to a publicly accessible domain? If that's the case, then simply refer that domain where you publicly store the assets in the tracker using the `resourceBaseHref` option. See more [here](https://docs.openreplay.com/i

[2022-06-14 16:06] dajaffe commented on #538
I'm starting to wonder if a recent Chrome update is in play? We just had a second user affected:

<img width="1478" alt="image" src="https://user-images.githubusercontent.com/12042998/173624037-b240cf3e-703f-4a74-974c-e5cf6509fcb6.png">

Both of these in the hundreds are on Chrome 102+ (one on 102.0.0, one on 102.0.5005)

[2022-06-15 02:01] dajaffe commented on #526
I just noticed this as well - in our case, it seems like any continuation of a session (once the 2hr limit has been reached and a new one starts), the visuals of the session are completely blank. I was reviewing the first 2 hours of a user's session, zero issues with the player. The second session that lasted another 62 minutes captured everything in the network and fetch, user events were all the

[2022-06-15 07:44] sylenien commented on #538
This indeed could be the issue because so far we haven't captured this error with older versions but while reading the changelogs I haven't noticed anything that could potentially break our functionality...

[2022-06-15 12:00] rjshrjndrn opened #543 "[RFC] Docker Compose for openreplay installation"
Hi,

Some users from the community asked whether we can use docker-compose for the OpenReplay installation. As of now, OpenReplay is Kubernetes native application, and for simple installations, we've got an [installation script](https://github.com/openreplay/openreplay/blob/main/scripts/helmcharts/init.sh) that installs k3s(a single node Kubernetes instance) in the local machine and provision Open

[2022-06-15 13:12] sylenien commented on #526
@zavorotynskiy sounds like backend issue here

[2022-06-15 13:13] sylenien commented on #526
@zavorotynskiy can you check the last comment please

[2022-06-15 14:17] dajaffe commented on #538
Awesome thanks! Nope not urgent, if I have some time to build it myself I'll give it a shot, otherwise I'll just wait for the next release.

[2022-06-16 16:26] tahayk commented on #69
for the new version of OpenReplay (v1.3.0+):
1- use this command: `k9s -n all`
2- navigate with the keyboard arrows to the chalice-* container
3- press `d` for describe, and scroll down to `pg_password`; and copy the value, then press escape
4- navigate with the keyboard arrows to the postgresql-* container
5- press `s` ; at this step you should have shell access the the DB container
6- use this c

[2022-06-17 17:06] dajaffe opened #546 "Upgrade from 1.5.4 -> 1.6.0 stuck in process"
I'm attempting my first openreplay upgrade in our dev environment (self-hosted on AWS). I'm running through https://docs.openreplay.com/deployment/upgrade and executed the `helm upgrade --install openreplay ./openreplay -n app --wait -f ./vars.yaml --atomic` command after updating the YAML files. The output was:

[code]

I let this run overnight (my power went out so I lost my EC2 terminal connect

[2022-06-17 17:30] dajaffe commented on #546
After going through kubectl and not seeing anything, I ended up just deleting the chart release entirely via

`helm delete openreplay -n app`

Then re-ran the original installation command

`DOMAIN_NAME=<<>> bash init.sh`

Everything seems to be running again as expected, no data loss.

Any suggestions to ensure we don't run into this when upgrading on staging and prod?

[2022-06-17 17:34] dajaffe commented on #546
I think this was purely a permissions issue 😬 chmod'ed the latest openreplay folder appropriately, re-ran the upgrade, completed as expected.

[2022-06-18 19:27] dajaffe opened #547 "Network and Fetch logs scrollbar isn't usable and doesn't auto-scroll"
I've noticed in the session player that the Fetch and Network logs don't auto-scroll as the session plays, however the Redux logs do. Is this a known issue or just not implemented?

The scrollbar for those two logs is also so thin that it can't really be clicked to scroll. I have a couple screenshots comparing it between Network and Exceptions.

This is on Chrome 102.0.5005.115 x86_64 iOS.

![imag

[2022-06-22 08:43] vladretca commented on #486
Hello. Any updates on this?

[2022-06-22 17:22] juansemprun commented on #525
Hello guys! Do you have any updates? Thanks!

[2022-06-23 09:34] #541 closed

[2022-06-23 09:40] sylenien commented on #525
Hey. We're working on a fix right now, it will be included in the next release (which is quite soon)

[2022-06-27 14:50] Twister42 opened #555 "Assist import problem with socket.io"
**Describe the issue**
When using Openreplay Assist with NextJS it crashes in the Assist.onStart() method with the exception :
[code]
Looks like an import problem

**Steps to reproduce the issue**
1. clone this sample project : https://github.com/thundermiracle/openreplay-examples/tree/main/examples/with-next-dynamic-import
2. yarn add @openreplay/tracker @openreplay/tracker-assist
3. yarn install

[2022-06-27 15:43] sylenien commented on #555
@Twister42 you can build it locally and see if it works for you or ask us to provide test build if its urgent -> #556
We will include this fix in our next release (which is quite soon, around 5-7 days probably?).

[2022-06-27 17:16] estradino commented on #511
Sorry for the late answer @ro-savage, this has slipped through the cracks.
**End user data does never leave your infrastructure**. We simply collect a few metrics (Super admin's email and organization name, number of sessions, number of users invited to OpenReplay dashboard and number of enabled integrations). These can be anonymized from `Preferences` in the community edition.
We've removed that

[2022-06-27 17:16] #511 closed

[2022-06-29 19:15] sylenien commented on #526
@sharypovandrey youre using kafka by any chance?

[2022-06-29 19:23] estradino commented on #526
@sharypovandrey this should be fixed in the upcoming version (v1.7.0).

[2022-07-01 14:49] #500 closed

[2022-07-01 14:50] #214 closed

[2022-07-02 16:11] nkmnz opened #566 "@openreplay/tracker 3.5.13 breaks with current node LTS"
**Describe the issue**
@openreplay/tracker 3.5.13 requires node version >= breaks with current node LTS

**Steps to reproduce the issue**
1. delete node_modules
2. upgrade @openreplay/tracker to v3.5.13
3. `yarn` -> `error @openreplay/tracker@3.5.13: The engine "node" is incompatible with this module. Expected version ">=17.5". Got "16.15.0"`

[2022-07-02 16:53] estradino commented on #566
We'll look into that. In the meantime, you can swith to the prior (3.5.12) version.

[2022-07-04 10:36] sylenien commented on #566
Hey. We released 3.5.14 that works with anything from **>=14.5 up to 17.1.0**. Please update and don't hesitate to contact us here or on slack if something goes wrong.

[2022-07-04 10:36] #566 closed

[2022-07-04 11:32] sylenien commented on #555
Hey. New problem should be released.

[2022-07-04 11:35] #555 closed

[2022-07-04 11:38] sylenien commented on #538
Hey. New version @openreplay/tracker@3.5.14 fixes the problem.

[2022-07-04 11:38] #538 closed

[2022-07-04 11:38] sylenien commented on #525
Hi again. New version @openreplay/tracker@3.5.14 fixes the problem.

[2022-07-04 11:38] #525 closed

[2022-07-04 11:44] juansemprun commented on #525
Hello! Thanks! 😊

[2022-07-04 12:10] Twister42 commented on #555
We also need a release of @openreplay/tracker-assist

[2022-07-04 13:25] sylenien commented on #555
New assist should be released as well :)

[2022-07-04 16:07] sylenien commented on #525
We noticed that it not quite works with relative links so we're fixing that. You can expect a new version release sometime soon (probably today)
@juansemprun

[2022-07-04 16:12] juansemprun commented on #525
Ok got it. Thanks for the update

[2022-07-04 22:55] OscarVelandia opened #572 "Ad-blocker issue"
**Describe the issue**
I got an error related to uBlock (add blocker)

My code is very simple

[code]

**Steps to reproduce the issue**
1. run `npm run dev` (it's the `vite` command)
2. open the `localhost`
3. You got it :)

**Expected behavior**
It should work without any issue, just as a reference, I tested the same with logRocket and it works ok with uBlock

**Screenshots**
![image](https://use

[2022-07-05 11:14] estradino commented on #525
Fixed in tracker `v3.5.15`.

[2022-07-05 11:16] juansemprun commented on #525
cool, thanks!

[2022-07-05 11:17] estradino commented on #526
Fixed on OpenReplay `v1.7.0`.

[2022-07-05 11:22] estradino commented on #506
@dipankarj [here's a tutorial](https://docs.openreplay.com/tutorials/angular) about that.
Other than that, this issues has been fixed in OpenReplay `v1.7.0`.

[2022-07-05 11:22] #506 closed

[2022-07-05 11:25] estradino commented on #440
Fixed in OpenReplay `v1.7.0`.

[2022-07-05 11:25] #440 closed

[2022-07-05 11:26] estradino commented on #501
Fixed in OpenReplay `v1.7.0`. Timezone can be controlled in session settings.

[2022-07-05 11:27] estradino commented on #521
Fixed in tracker `v3.5.15`.

[2022-07-05 11:31] #378 closed

[2022-07-05 11:32] estradino commented on #329
Fixed in OpenReplay `v1.7.0`.

[2022-07-05 11:32] #329 closed

[2022-07-05 11:36] estradino commented on #147
Fixed in OpenReplay `v1.6.0`.

[2022-07-05 11:40] estradino commented on #520
@anton-white this should have been fixed in tracker `v3.5.15`. Please reopen if necessary.

[2022-07-05 11:40] #520 closed

[2022-07-05 12:50] sylenien commented on #572
Hi.
Could you open ublock, click "open the logger", then inside it reload the page and filter logger content by "blocked" and then send the results to us so we can? Also the list of filters you're using will help us too because I can't reproduce it with default ones.
![image](https://user-images.githubusercontent.com/23126999/177331178-6d1ddf42-2d80-46ab-ae60-0c23f967807a.png)

![image](https://us

[2022-07-05 15:19] estradino commented on #198
Fixed in OpenReplay `v1.7.0`.

[2022-07-05 15:19] #198 closed

[2022-07-08 09:46] blinkzz opened #580 "Frontend crash on .trim invocation"
**Describe the issue**
Openreplay frontend crashes randomly in different sections, with following console error:

[code]

**Steps to reproduce the issue**
1. Open openreplay frontend
2. Navigate to assist tab (must have active users for error to trigger)
3. React goes whitescreen due to error being thrown

**Expected behavior**
Working live sessions obviously

**OpenReplay Environment**
 - Fronten

[2022-07-08 10:26] sylenien commented on #580
Hi!
This issue should be fixed by recent commit `6530ab1fd39bc70ebc694937de494ed8251e67f8`. If you're using sass you will get an update soon (when we will rebuild and release new versions to aws), otherwise you can pull the 2 newest commits.

[2022-07-08 10:32] blinkzz commented on #580
@sylenien, pulled this one then used `./openreplay-cli -I`, but it doesn't seem to have fixed anything, is there something i am missing in terms on how to pull such updates?

[2022-07-08 10:34] sylenien commented on #580
Weird. Can you tell me where exactly do you experience crashes?

[2022-07-08 10:48] blinkzz commented on #580
@sylenien, i have multiple domains tracked by openreplay, and it seems to be happening only on few of them, and only in "assist" tab. But, guessing by debugger output, it happens because React element being passed as trigger to tippy.js, which it does not actually expect i guess

![image](https://user-images.githubusercontent.com/17931300/177978053-dbba0a68-53d9-4f00-bc6c-199d6e3e3617.png)

I see

[2022-07-08 12:50] blinkzz commented on #580
@sylenien, yeap, that worked, issue seems resolved now, thanks for help :)

[2022-07-08 12:51] #580 closed

[2022-07-11 05:49] hishtadlut opened #589 "Open Reaplay IS DOWN!!!!!!!!!"

[2022-07-11 06:38] estradino commented on #589
Issue resolved.

[2022-07-11 06:38] #589 closed

[2022-07-11 14:20] TonyXdddd opened #594 "Only sessions of users from my country are recorded"
Only sessions of users from my country are recorded.
The rest are not.
In rare cases, the session started by me with vpn is recorded.

Could you suggest to me possible solutions to the problem and the direction to find the source.

Yours faithfully :D, wait for your answer.

[2022-07-13 21:55] dajaffe commented on #538
Hey @sylenien - we upgraded to @openreplay/tracker@3.5.15, verified the user has hard reloaded our app and is running on our latest version, but we're still getting spammed with `Uncaught Error: WebWorker: writer not initialised. Service Should be Started`.

Here's their device info:

[code]

[2022-07-15 06:23] fabwa commented on #213
how is this going? :-)

[2022-07-15 15:30] AaronDovTurkel opened #615 "Support white-list-domains"
Hi,
We would like to see the ability to white-list domains for the ingest. We considered setting up custom CORS policies but it seems that we don't have fine-grained access to those details in a systematic way. @tahayk thank you.

[2022-07-16 10:34] dgergely opened #618 "Timezone and time of recording to display"
Hi,

When checking sessions, and timestamp of those sessions, it is not obvious which timezone they are in. We have users in multiple timezones and we need to think about whether the timestamps are in UTC, my browser's timezone or the user's browser's timezone.

There is a related other thing. Right now when replaying a session, the timeline starts from 0:00 and it is like a video file to replay.

[2022-07-18 12:33] nkumar736 commented on #463
@estradino Any chance this is on the roadmap anytime soon?

[2022-07-19 10:43] tahayk commented on #615
Hey @AaronDovTurkel
For now, you can use [CORS](https://docs.openreplay.com/configuration/secure-or#enablingcors)
In the future we will support more specific white-list per project.

[2022-07-19 18:09] gregnye2022 opened #623 "Deployment to Kubernetes cluster fails"
**Describe the issue**
Openreplay deployment is failing after running this command
helm upgrade --install openreplay ./openreplay -n app --create-namespace --wait -f ./vars.yaml --atomic

Per the documentation here
https://docs.openreplay.com/deployment/deploy-kubernetes#troubleshooting

**Steps to reproduce the issue**
1. Copy the git repo locally
2. Perform the following commands per documentati

[2022-07-20 04:41] JorgenPhi opened #624 "Use another header for API token"
I would like to protect the UI with HTTP basic auth, so that the only publicly accessible route is /ingest

This is causing some issues as the Auth header for the basic auth is replaced by the Bearer auth token.

[2022-07-20 05:34] rjshrjndrn commented on #623
@gregnye2022 can you please run
[code]

[2022-07-20 08:37] rjshrjndrn commented on #594
Hi @TonyXdddd,

To clarify your question, are you asking why only the sessions originating from the home country are recorded?

Openreplay doesn't have a notion of geo-restriction. So I'd start looking at the LB level.

1. Are you using any ALB kinda layer7 LBs with firewalls and geo-restrictions?
2. You can try using some VPN from chrome/firefox and change the traffic to some other country, and s

[2022-07-20 13:06] rjshrjndrn commented on #623
Sorry, I closed this issue accidently :sweat_smile:

[2022-07-20 13:07] rjshrjndrn commented on #623
As the error denotes, your global.s3.accessKey is empty. Please make sure you've value there.

[2022-07-20 15:11] AaronDovTurkel opened #627 "Ability to resize dev tools in session replay"
Hi,
We would like to be able to resize (vertically) the devtools tab in the session recording. Thanks!

[2022-07-20 16:26] rjshrjndrn commented on #624
Hi @JorgenPhi,
Can you please explain, what you mean by basic auth? we already have a user authentication mechanism. Do you want to add one more on top of that?

[2022-07-20 16:36] gregnye2022 commented on #623
I apologize as I think my last comment wasn't clear. That screenshot was a placeholder. I have set both of the accessKey values to the same value during my deployment however the error is still occurring.

[2022-07-20 16:39] rjshrjndrn commented on #623
can you please try to run the, and give the output
[code]

[2022-07-20 16:44] gregnye2022 commented on #623
[cmd_output.txt](https://github.com/openreplay/openreplay/files/9152084/cmd_output.txt)

[2022-07-20 17:01] rjshrjndrn commented on #623
As I suspected earlier, the issue is with the file format. When windows templates the file, it formats the file in windows format, not in unix format. That's why you're getting wierd errors.

Have a look at the SO topic: https://stackoverflow.com/questions/48692741/how-can-i-make-all-line-endings-eols-in-all-files-in-visual-studio-code-unix

Closing the issue. If you've any more questions, feel fr

[2022-07-20 19:47] gregnye2022 commented on #623
Thanks I changed my line ending to LF in VS Code and that seems to have done the trick. Thanks for pointing that out.

From: Rajesh Rajendran ***@***.***>
Sent: Wednesday, July 20, 2022 1:02 PM
To: openreplay/openreplay ***@***.***>
Cc: Greg Nye ***@***.***>; Mention ***@***.***>
Subject: Re: [openreplay/openreplay] Deployment to Kubernetes cluster fails (Issue #623)

As I suspected earlier, the i

[2022-07-21 13:39] colin4554 commented on #213
^  Also would be willing to contribute if it isn't completed yet

[2022-07-21 13:45] strobl opened #630 "API: Get list of all sessions for a unique project ID"
Hello, very cool tool. I actually have almost everything to go live in production.

However, I would need a GET request with all sessions to a project ID.

[2022-07-21 13:48] tahayk commented on #630
Hey @strobl

for now, you can just query the [API](https://docs.openreplay.com/api/sessions#retrieveusersessions) to get the list of sessions related to a given user,
but in the future we ll support getting the list of sessions of a specific project.

[2022-07-24 18:18] ssddanbrown opened #638 "Use of "Open Source" wording without using an Open Source license"
👋 Hello! I saw you recently [changed your license from MIT to ELv2](https://github.com/openreplay/openreplay/commit/012d973e14b64f78eb603fada4ac5b098098ac94). Just wanted to advise that this license is generally not considered to be "Open Source" as per the [common definition](https://opensource.org/osd) so usage of "Open Source", as used throughout your repo and website, could be seen as misleadi

[2022-07-25 13:44] gregnye2022 commented on #623
I've run into another issue from the deployment. the http-openreplay pod is in a crashloop. I pulled the logs from the pod. Would you be able to assist with this as well? Thanks so much!
kubectl logs --previous --tail 20 -p http-openreplay-787fd45c9d-qvj62
Prometheus server running on :8888
2022/07/25 13:36:21 /root/pkg/env/worker-id.go:18: Warning: unable to retrieve Fargate Task IP: Get "": unsu

[2022-07-26 09:31] rjshrjndrn commented on #623
Can you please do
[code]
add following to vars.yaml
[code]

[code]

[2022-07-26 13:26] gregnye2022 commented on #623
Thanks. That seems to have resolved the problem. Something you may be interested to know though.
This command helm upgrade --install openreplay ./openreplay -n app --create-namespace --wait -f ./vars.yaml –atomic
results in an error
Error: release openreplay failed, and has been uninstalled due to atomic being set: failed to create resource: Internal error occurred: failed calling webhook "validat

[2022-07-26 14:56] TTvanWillegen opened #644 "Typing of StartEndCallback is incorrect"
**Describe the issue**
The typing of the StartEndCallback is incorrect;
It is currently `() => ((() => {}) | void)` which means the inner "ending"-callback should return an object.
The correct typing is `() => ((() => void) | void)`

**Screenshots**
![image](https://user-images.githubusercontent.com/15815200/181039766-3c343f60-84bc-4e2a-9d8b-ac3e050330c4.png)
![image](https://user-images.githubuse

[2022-07-26 15:16] sylenien commented on #644
Thank you for noticing that.
Fixed in #646 and will be released in the next versions

[2022-07-26 15:16] #644 closed

[2022-07-27 08:53] sylenien commented on #572
Closing this as we're not able to reproduce this reliably.
Feel free to reopen this issue if it will happen again.

[2022-07-27 08:53] #572 closed

[2022-08-01 08:31] PandaCodes commented on #486
@vladretca this happens because currently tracker does not support  `adoptedStyleSheets`. We're planning to add it in the next release.

[2022-08-03 01:49] Aeolun commented on #638
Hmm, yeah, I can't say I'm happy to see that the project that I started using when it was licensed as MIT (one of the reasons for choosing it) has silently changed out to ELv2.

It's not that I don't understand the motivation, but it's not the same thing at all. There's very little open about the ELv2, it's full of restrictions.

[2022-08-03 03:55] deleteman commented on #638
Hey @Aeolun, we appreciate your feedback and we're sorry to read you feel that way!
However,  we didn't switch silently to ELv2, we actually discussed it during our April community call, you can check out the announcement here: https://youtu.be/DK8Z7TZfnyk?t=442 (the link will take you right to the moment where Mehdi explains about the change and the reasons behind it).

Is there anything in parti

[2022-08-03 09:48] ssddanbrown commented on #638
While not silent, that seems pretty darn quiet if that's the only place of mention for a pretty significant change of terms.
It looks to have been changed in a minor release version, with no notice/advisory in the release notes, and no announcement/notice on your very active blog.

Even if the license change did not affect an existing users usage of the project (Which it could have done), it can s

[2022-08-03 14:00] Aeolun commented on #638
@deleteman Thank you for being open to discussion. I don't think announcing it during a community call is really a solid way to make sure all your users know of it. I don't necessarily watch or attend community calls. What I do do is read the release notes for every release, and those (at least [v1.5.4](https://github.com/openreplay/openreplay/releases/tag/v1.5.4), which seems to be the first rele

[2022-08-05 16:09] ricklamers opened #660 "Remove requirement of publicly accessible assets"
It would be great to not have to maintain assets (CSS/fonts) in a publicly accessible place.

If an auth layer prohibits access to assets or when you’re running a self-hosted application that isn’t publicly accessible it can be difficult to give OpenReplay access to the required assets.

One idea would be to fetch assets directly from the client tracker and push those to the OpenReplay endpoint di

[2022-08-08 12:34] TTvanWillegen opened #662 "Wildcards in sourcemap-uploader URLs"
Hi there!

For our solution, we use multiple subdomains on one domain, every subdomain being for a single company. The websites on these subdomains are exactly the same, and thus are built and stored only once on our backend. These subdomains are subject to change more often than we rebuild. We would love to upload our source-maps to OpenReplay, to find any bugs. However, as the subdomains are ple

[2022-08-18 10:55] naro9507 opened #684 "Record WebSocket by NetworkTab or new plugin | -> Temporary workaround inside"
Hi,

Fetch Plugin, GraphQL has been really useful for me.

Our product has a collaborative editing function  that uses WebSocket,
So I would be very happy if WebSocket communication could be recorded as well !!

Thanks!

[2022-08-22 09:40] sylenien commented on #684
While we're discussing our approach to this problem, I'm pinning good workaround for now:

to capture what’s passing inside the WebSockets and display that in **DevTools** under the **Events** tab. You’d have to listen to the messages (ideally the one you care about only otherwise **it may make huge replays**) and send them to OpenReplay as **Events**.

[More info about custom events](https://docs

[2022-08-22 10:05] salavadi1987 commented on #627
@AaronDovTurkel With vertical scale option, would you be okay with small preview of the session (as it would scale down to accommodate space for dev tools).?

[2022-08-22 13:17] aeris-alex opened #687 "Canvas Support"
Would love to see rendering of Canvas elements in replays. Our SAAS relies heavily on canvas rendering so without it supporting customers is difficult.

[2022-08-22 14:10] STollenaar opened #688 "CSS URLs get replaced incorrectly"
**Describe the issue**
For stylesheets that have multiple URLs defined the resolver will incorrectly replace these URLs. Since the indexes of these URLs are first fetched and then the original CSS is updated, as a result these later indexes are no longer at the right place.

**Steps to reproduce the issue**
1. Have a CSS stylesheet with multiple URLs defined across the stylesheet
2. Connect to tha

[2022-08-23 11:23] jncr opened #690 "Search by Input Value"
Currently session search operates on `input` labels, but most sessions on the same journey will involve the same inputs. Searching by value instead will allow filtering to specific intended sessions

[2022-08-23 13:35] PandaCodes commented on #688
Fixed in commit
798289a505c21ec168aaddd13421765eaa8c23a8

[2022-08-24 09:25] andreialecu opened #696 "[Feature Request] aws-cdk stack"
For AWS, CDK stacks are all the rage these days (https://github.com/aws/aws-cdk). You can use CDK to define the infrastructure in TypeScript, Python, or other languages.

For our CDK stacks, we usually work with ECS clusters. ECS is based on docker images and is usually more cost-effective than EKS.

It's possible to use a fleet of “spot instances” with ECS, which are up to 70% cheaper than regula

[2022-08-24 13:44] andreialecu opened #697 "Sanitize/obscure based on css class name"
I would like to be able to obscure elements based on a css class name applied to them.

We were previously using Inspectlet which has this feature and we are already using css class names for this purpose for other reasons, like "blurring" the fields in certain cases - such as when a specific class is applied to the `<body>`.

Perhaps being able to pass something to the constructor like:

[code]

[2022-08-24 13:50] andreialecu commented on #696
Related: #696

[2022-08-25 09:50] andreialecu commented on #696
Upon looking at the source, it does appear that env variables are indeed being used. They're just not documented.

As mentioned previously, a simple, stateless Docker image can make this easy to handle on the user-side.

[2022-08-25 11:27] naro9507 commented on #684
Thanks for sharing workaround !
Workaround helped me achieve what I wanted to do.

But it was a little inconvenient because you can't filter keys on the Events tab.

Anyway, I'm very happy to have solved the problem, thank you very much!

[2022-08-26 07:32] andreialecu commented on #618
Possibly related: it would be great to see the absolute time on the bar at the bottom.

We have a single-page app with very long-lived sessions of several hours. If someone is reporting an issue at around a certain time of the day, it's a bit hard to pinpoint precisely where to seek to using the bar.

Here's an example of a longer session:
<img width="153" alt="Screenshot 2022-08-26 at 10 31 43" s

[2022-08-26 08:46] salavadi1987 commented on #618
@andreialecu accounting your input. Thank you.

[2022-08-26 21:39] virus2016 commented on #44
Any update on this one?

[2022-08-27 20:37] starrynight-58 opened #701 "ReferenceError: Navigator is not defined"
**Describe the issue**
Hi, eveyone!

I tried to use OpenReplay Assist (Cloud) in my NextJS project, I got this error when I started running the project and check it on the browser, you can see it in the attached image below. Because of this error I couldn't build and deploy my project.

A temporary workaround would be great.

Thanks!

**Dependencies**
- @openreplay/tracker version 3.5.16
- @openre

[2022-08-29 07:15] sylenien commented on #701
Hi.
This happens because nextjs is trying to build the module that includes `tracker-assist` in the **node env** (where window api does not exist).

Easiest fix we can do here is to turn the **assist import** into cjs one:

`import trackerAssist from "@openreplay/tracker-assist";` -> `import trackerAssist from "@openreplay/tracker-assist/cjs";`

If this won't help you, then you need to turn this l

[2022-08-29 07:28] sylenien commented on #701
Also note that using `uuid` as user id will lead to randomized ID for every tab (so you wont be able to identify users and every time new tab opened in the same browser new session will be started)

[2022-08-29 10:33] starrynight-58 commented on #701
@sylenien Importing `@openreplay/tracker-assist` dynamically fixed this problem. Thank you so much @sylenien

[2022-08-29 10:53] sylenien commented on #701
Glad to help. You're always welcome to open an issue or ask us in our [Slack](https://slack.openreplay.com/) if you will need additional help or will have a feature request.

[2022-08-29 10:53] #701 closed

[2022-09-01 16:33] estradino commented on #486
Support added in OpenReplay `v1.8.0` with tracker `3.6.0`.

[2022-09-01 16:33] #486 closed

[2022-09-01 16:33] estradino commented on #396
Fixed in OpenReplay `v1.7.0`.

[2022-09-01 16:33] #396 closed

[2022-09-01 16:34] #688 closed

[2022-09-01 16:35] estradino commented on #697
This should be part of OpenReplay `v1.9.0` (ETA: Sep 22).

[2022-09-04 01:01] carsso commented on #402
I just edited my message earlier in this conversation to add two lines in my config :

Because nginx caching was not working anymore, these two lined fixed it.

[2022-09-05 06:49] rjshrjndrn commented on #696
Hi @andreialecu, Thank you for the suggestion of CDK.

To give some more context, OpenReplay strives to be a cloud agnostic, and vendor-free solution, which anyone can use from an on-prem VM to a cloud-managed fleet of VMs. As of now the best and (kind of) easiest solution is to use Kubernetes because it abstracts many cloud terminologies from the application users(for example ec2 vs VM or securit

[2022-09-05 06:52] rjshrjndrn commented on #533
Please find the doc: https://docs.openreplay.com/configuration/external-db

I'm closing the issue for now. If you have any additional queries don't hesitate to reopen the issue.

[2022-09-05 06:52] #533 closed

[2022-09-05 08:58] andreialecu commented on #696
Yes, that's understandable.

As previously mentioned, the only missing thing is some official documentation on the stateless containers and their environment variables. And some sort of provision that they'll continue to stay the same, in minor versions at least.

AWS users could then make things work with ECS + S3 + RDS and remove the need to use Kubernetes entirely.